@charset "UTF-8";
//-----------------------------------------------------	
// base scss
// 提供所有的基础功能包括：变量设置，css3前缀填充，@media，基础mixin，栅格化grid，reset样式
// 默认会输出reset样式一份
//-----------------------------------------------------


// 导入core中的基础文件
//-----------------------------------------------------
@import "core/setting";        //默认值设置
@import "core/css3";           //css3
@import "core/media-queries";  //屏幕设置，响应式网站设计
@import "core/mixin";          //常用混合布局
@import "core/grid";           //布局
@import "core/reset";       //reset
