@charset "utf-8";
@import '../../sassCore/base';
@font-face {
	font-family: 'ecoicon';
	src:url('../fonts/ecoicons/ecoicon.eot');
	src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

//
// @description: 介绍
// @author: 卓文理
// @tipe: 最后由卓文理编译整理，有问题请联系 QQ:531840344。
// @update: 2014.05
// @version:  v1.0
//

// 
//---------------------------------
	$sky:#5cbcf6;      //天蓝色
	$sky1:#55b7f3;     //深天蓝色
	$sky2:#49a7df;     //深深天蓝色
	$blue:#0e83cd;     //蓝色
	$blue1:#4593e3;    //深蓝色
	$blue2:#226fbe;	   //深蓝色;
	$red:#f06060;      //红色
	$red1:#cb4e4e;     //深红色
	$red2:#ab3c3c;     //深深红色
	$yellow:#fcd04b;   //黄色
	$yellow1:#fcad26;  //深黄色
	$yellow2:#da9622;  //深深黄色
	$orange:#f29e0d;   //橙色
	$orange1:#f58500;  //深橙色
	$orange2:#dc7801;  //深深橙色
	$green:#2ecc71;    //绿色
	$green1:#24b662;   //深绿色
	$green2:#17aa56;   //深深绿色
	$green3:#17954c;   //深深深绿色
	$green4:#0a833d;   //深深深深绿色
	$purple:#9e54bd;   //紫色
	$purple0:#9053a9;  //淡紫色
	$purple1:#823aa0;  //深紫色
	$gray:#ecf0f1;
//---------------------------------
*{
	@include box-sizing;
}

// @media screen
//---------------------------------
	html{
		font-size: 20px;
		font-family: $fontYaHei;
	}
	@include min-screen(320px){
		html{
			font-size: 20px;
		}
	}
	@include min-screen(480px){
		html{
			font-size: 30px;
		}
	}
	@include min-screen(640px){
		html{
			font-size: 40px;
		}
	}
//---------------------------------

// layout
//---------------------------------
	#container {
		height: 100%;
		position: relative;
		header{
			text-align: center;
			margin: 0 auto;
			padding: 1rem;
			h1{
				font-size: 1rem;
				line-height: 1.3;
				font-weight: 300;
				color: #aaa;
			}
			span{
				display: block;
				font-size: 60%;
				opacity: 0.5;
				padding: 0 0 0.6rem 0.1rem;
			}
		}
		&>section{
			margin: 0 auto;
			padding: 2.5rem 1.5rem;
			text-align: center;
			color: #fff;
			p{
				position: relative;
				z-index: 1;
			}
			.title{
				text-align: center;
				font-size: 0.7rem;
				color: #fff;
				padding: 0.5rem;
			}
		}
	}
//---------------------------------

// color
//---------------------------------
	.color-1{
		background: $green2;
	}
	.color-2{
		background: $red;
	}
	.color-3{
		background: $yellow;
	}
	.color-4{
		background: $green;
	}
	.color-5{
		background: $purple1;
	}
	.color-6{
		background: $sky;
	}
	.color-7{
		background: #2ac56c;
	}
	.color-8{
		background: $orange;
		.text{
			color: #aaa;
		}
	}
	.color-9{
		background: $sky;
	}
	// #set-1 {
	// 	background: #41ab6b;
	// }

	// #set-2 {
	// 	background: #eea303;
	// }

	// #set-3 {
	// 	background: #f06060;
	// }

	// #set-4 {
	// 	background: #0e83cd;
	// }

	// #set-5 {
	// 	background: #702fa8;
	// }

	// #set-6 {
	// 	background: #64bb5d;
	// }

	// #set-7 {
	// 	background: #d54f30;
	// }

	// #set-8 {
	// 	background: #3851bc;
	// }

	// #set-9 {
	// 	background: #96a94b;
	// }
//---------------------------------

// default
//---------------------------------
	.hi-icon-wrap{
		text-align: center;
		margin: 0 auto;
		padding: 1rem 0 1.5rem;
	}
	.hi-icon{
		display: inline-block;
		font-size: 0;
		cursor: pointer;
		margin: 15px 30px;
		width: 90px;
		height: 90px;
		@include border-radius(50%);
		text-align: center;
		position: relative;
		z-index: 1;
		color: #fff;
		&:after{
			pointer-events:none;
			position: absolute;
			width: 100%;
			height: 100%;
			@include border-radius(50%);
			content: "";
			@include box-sizing(content-box);
		}
		&:before{
			font-family: "ecoicon";
			speak:none;
			font-size: 48px;
			line-height: 90px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			font-transform:none;
			display: block;
			-webkit-font-smooting:antialiased;
		}
	}

	.hi-icon-mobile:before {
		content: "\e009";
	}

	.hi-icon-screen:before {
		content: "\e00a";
	}

	.hi-icon-earth:before {
		content: "\e002";
	}

	.hi-icon-support:before {
		content: "\e000";
	}

	.hi-icon-locked:before {
		content: "\e001";
	}

	.hi-icon-cog:before {
		content: "\e003";
	}

	.hi-icon-clock:before {
		content: "\e004";
	}

	.hi-icon-videos:before {
		content: "\e005";
	}

	.hi-icon-list:before {
		content: "\e006";
	}

	.hi-icon-refresh:before {
		content: "\e007";
	}

	.hi-icon-images:before {
		content: "\e008";
	}

	.hi-icon-pencil:before {
		content: "\e00b";
	}

	.hi-icon-link:before {
		content: "\e00c";
	}

	.hi-icon-mail:before {
		content: "\e00d";
	}

	.hi-icon-location:before {
		content: "\e00e";
	}

	.hi-icon-archive:before {
		content: "\e00f";
	}

	.hi-icon-chat:before {
		content: "\e010";
	}

	.hi-icon-bookmark:before {
		content: "\e011";
	}

	.hi-icon-user:before {
		content: "\e012";
	}

	.hi-icon-contract:before {
		content: "\e013";
	}

	.hi-icon-star:before {
		content: "\e014";
	}
//---------------------------------

// #set-1
//---------------------------------
	.hi-icon-effect-1{
		.hi-icon{
			background: rgba(255,255,255,0.1);
			@include transition(background 0.2s,color 0.2s);
			&:after{
				top: -7px;
				left: -7px;
				padding: 7px;
				@include box-shadow(0 0 0 4px #fff);
				@include prefixer-pro-value(transition,#{transform 0.2s,opacity 0.2s});
				@include transform(scale(0.8));
				opacity: 0;
			}
		}
	}
	.hi-icon-effect-1a{
		.hi-icon:hover{
			background: rgba(255,255,255,1);
			color: $green1;
			&:after{
				@include transform(scale(1));
				opacity: 1;
			}
		}
	}
	.hi-icon-effect-1b{
		.hi-icon{
			&:after{
				@include transform(scale(1.2));
			}
			&:hover{
				background: rgba(255,255,255,1);
				color: $green2;
				&:after{
					@include transform(scale(1));
					opacity: 1;
				}
			}
		}
	}	
//---------------------------------

// #set-2
//---------------------------------
	.hi-icon-effect-2{
		.hi-icon{
			color:$red;
			@include box-shadow(0 0 0 3px #fff);
			@include transition(color 0.3s);
			&:after{
				top: -2px;
				left: -2px;
				padding: 2px;
				z-index: -1;
				background: #fff;
				@include prefixer-pro-value(transition,#{transform 0.2s,opacity 0.2s});
			}
		}
	}
	.hi-icon-effect-2a{
		.hi-icon{
			&:hover{
				color: $red;
				&:after{
					@include transform(scale(0.85));
				}
			}
		}
	}
	.hi-icon-effect-2b{
		.hi-icon{
			&:hover{
				color: #fff;
				&:after{
					@include transform(scale(0));
				}
			}
		}
	}
//---------------------------------

// #set-3
//---------------------------------
	.hi-icon-effect-3{
		.hi-icon{
			@include box-shadow(0 0 0 3px #fff);
			@include transition(color 0.3s);
			&:after{
				top: -2px;
				left: -2px;
				padding: 2px;
				z-index: -1;
				background: #fff;
				@include prefixer-pro-value(transition,#{transform 0.2s,opacity 0.3s});
			}
		}
	}
	.hi-icon-effect-3a{
		.hi-icon{
			color: $yellow;
			&:hover{
				color:#fff;
				&:after{
					@include transform(scale(1.3));
					opacity: 0;
				}
			}
		}
	}
	.hi-icon-effect-3b{
		.hi-icon{
			color:#fff;
			&:after{
				opacity: 0;
				@include transform(scale(1.3));
			}
			&:hover{
				color: $yellow;
				&:after{
					@include transform(scale(1));
					opacity: 1;
				}
			}
		}
	}
//---------------------------------

// #set-4
//---------------------------------
	@include keyframes(spinAround){
		0%{
			@include transform(rotate(0deg));
		}
		100%{
			@include transform(rotate(360deg));
		}
	}
	.hi-icon-effect-4{
		.hi-icon{
			width: 92px;
			height: 92px;
			@include box-shadow(0 0 0 4px rgba(255,255,255,1));
			&:before{
				line-height: 92px;
			}
			&:after{
				top: -4px;
				left: -4px;
				padding: 0;
				z-index: 10;
				border: 4px dashed #fff;
			}
			&:hover{
				@include box-shadow(0 0 0 4px rgba(255,255,255,0));
				color: #fff;
			}
		}
	}
	.hi-icon-effect-4a{
		.hi-icon{
			@include transition(box-shadow 0.2s);
		}
	}
	.hi-icon-effect-4b{
		.hi-icon{
			&:hover{
				@include transition(box-shadow 0.2s);
				&:after{
					@include animation(spinAround 9s linear infinite);
				}
			}
		}
	}
//---------------------------------

// #set-5
//---------------------------------
	@include keyframes(toRightFromLeft){
		49%{
			@include transform(translate(100%));
		}
		50%{
			opacity: 0;
			@include transform(translate(-100%));
		}
		51%{
			opacity: 1;
		}
	}
	@include keyframes(toRightFromRight){
		49%{
			@include transform(translate(-100%));
		}
		50%{
			opacity: 0;
			@include transform(translate(100%));
		}
		51%{
			opacity: 1;
		}
	}
	@include keyframes(toRightFromTop){
		49%{
			@include transform(translateY(100%));
		}
		50%{
			opacity: 0;
			@include transform(translateY(-100%));
		}
		51%{
			opacity: 1;
		}
	}
	@include keyframes(toRightFromBottom){
		49%{
			@include transform(translateY(-100%));
		}
		50%{
			opacity: 0;
			@include transform(translateY(100%));
		}
		51%{
			opacity: 1;
		}
	}
	.hi-icon-effect-5{
		.hi-icon{
			overflow: hidden;
			@include box-shadow(0 0 0 4px rgba(255,255,255,1));
			@include transition(background 0.3s,color 0.3s,box-shadow 0.3s);
			&:after{
				display: none;
			}
			&:hover{
				@include box-shadow(0 0 0 8px rgba(255,255,255,0.3));
				color: $purple1;
				background: rgba(255,255,255,1);
			}
		}
	}
	.hi-icon-effect-5a .hi-icon:hover:before{
		@include animation(toRightFromLeft 0.3s forwards);
	}
	.hi-icon-effect-5b .hi-icon:hover:before{
		@include animation(toRightFromRight 0.3s forwards);
	}
	.hi-icon-effect-5c .hi-icon:hover:before{
		@include animation(toRightFromTop 0.3s forwards);
	}
	.hi-icon-effect-5d .hi-icon:hover:before{
		@include animation(toRightFromBottom 0.3s forwards);
	}
//---------------------------------

// #set-6
//---------------------------------
	.hi-icon-effect-6{
		.hi-icon{
			@include box-shadow(0 0 0 4px rgba(255,255,255,1));
			@include transition(background 0.2s,color 0.2s);
			&:hover{
				background: rgba(255,255,255,1);
				color:$sky;
			}
		}
	}
	.hi-icon-effect-6{
		.hi-icon{
			&:hover{
				&:before{
					@include animation(spinAround 2s linear infinite);
				}
			}
		}
	}
//---------------------------------

// #set-7
//---------------------------------
	.hi-icon-effect-7{
		.hi-icon{
			@include box-shadow(0 0 0 4px rgba(255,255,255,1));
			@include transition(background 0.2s,color 0.2s);
			&:hover{
				color: #fff;
			}
			&:after{
				top: -8px;
				left: -8px;
				padding: 8px;
				z-index: -1;
				opacity: 0;
			}
		}
	}
	.hi-icon-effect-7a{
		.hi-icon{
			&:after{
				@include box-shadow(0 0 0 rgba(255,255,255,1));
				@include transition(opacity 0.2s,box-shadow 0.2s);
			}
			&:before{
				@include transform(scale(0.8));
				opacity: 0.7;
				@include prefixer-pro-value(transition,#{transform 0.2s,opacity 0.2s});
			}
			&:hover{
				&:after{
					opacity: 1;
					@include box-shadow(3px 3px 0 rgba(255,255,255,1));
				}
				&:before{
					@include transform(scale(1));
					opacity: 1;
				}
			}
		}
	}
	.hi-icon-effect-7b{
		.hi-icon{
			&:after{
				@include box-shadow(0 0 0 rgba(255,255,255,1));
				@include transition(opacity 0.2s,box-shadow 0.2s,transform 0.3s);
				@include transform(rotate(-90deg));
			}
			&:before{
				@include transform(scale(0.8));
				opacity: 0.7;
				@include prefixer-pro-value(transition,#{transform 0.2s,opacity 0.2s});
			}
			&:hover{
				&:after{
					opacity: 1;
					@include box-shadow(3px 3px 0 rgba(255,255,255,1));
					@include transform(rotate(0deg));
				}
				&:before{
					@include transform(scale(1));
					opacity: 1;
				}
			}
		}
	}
//---------------------------------

// #set-8
//---------------------------------
	@include keyframes(sonarEffect){
		0%{
			opacity: 0.3;
		}
		40%{
			opacity: 0.5;
			@include box-shadow(0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px $orange1,0 0 0 10px rgba(255,255,255,0.5));
		}
		100%{
			opacity: 0;
			@include transform(scale(1.5));
			@include box-shadow(0 0 0 2px rgba(255,255,255,0.1),0 0 10px 10px $orange1,0 0 0 10px rgba(255,255,255,0.5));
		}
	}
	.hi-icon-effect-8{
		.hi-icon{
			background: rgba(255,255,255,0.1);
			@include prefixer-pro-value(transition,#{transform 0.2s,background 0.2s});
			&:after{
				top: 0;
				left: 0;
				padding: 0;
				z-index: -1;
				@include box-shadow(0 0 0 2px rgba(255,255,255,0.1));
				opacity: 0;
				@include transform(scale(0.9));
			}
			&:hover{
				background: rgba(255,255,255,0.05);
				@include transform(scale(0.93));
				color:#fff;
				&:after{
					@include animation(sonarEffect 1.3s ease-out 75ms);
				}
			}
		}
	}
//---------------------------------

// #set-9
//---------------------------------
	.hi-icon-effect-9{
		.hi-icon{
			@include transition(box-shadow 0.2s);
			&:after{
				top: 0;
				left: 0;
				padding: 0;
				@include box-shadow(0 0 0 3px #fff);
				@include prefixer-pro-value(transition,#{transform 0.2s opacity 0.2s});
			}
		}
	}
	.hi-icon-effect-9a{
		.hi-icon{
			&:hover{
				color: #fff;
				@include box-shadow(0 0 0 10px rgba(255,255,255,1));
				&:after{
					@include transform(scale(0.85));
					opacity: 0.5;
				}
			}
		}
	}
	.hi-icon-effect-9b{
		.hi-icon{
			&:hover{
				@include box-shadow(0 0 0 10px rgba(255,255,255,0.4));
				color: #fff;
				&:after{
					@include transform(scale(0.85));
				}
			}
		}
	}
//---------------------------------

