@charset "UTF-8";
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 * @desc  : Description
 */

@import "../../stylesheets/common";

.detail{
    min-height: 100vh;
    .header{
        position: relative;
        min-height: 100vh;
        width: 100%;
        padding: 45px 30px;
        overflow: hidden;
        &-bg{
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center center;
            background-size: cover;
            @include backface-visibility(hidden);
            @include transition(all 0.5s cubic-bezier(0.7,0,0.3,1));
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 101%;
                top: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                background: -webkit-linear-gradient(top, rgba(#fff, 0) 2%, rgba(#fff, 1) 99%);
                background: linear-gradient(to bottom, rgba(#fff, 0) 2%, rgba(#fff, 1) 99%);
                @include transition(all 0.5s cubic-bezier(0.7,0,0.3,1));
            }
        }
        &-title{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            z-index: 200;
            font-size: 24px;
            padding: 0 1em;
            @include transform(translateY(-50%));
            h1{
                position: relative;
                display: inline-block;
                max-width: 100%;
                margin-bottom: 0.5em;
                line-height: 1;
                color: #fff;
                font-size: 3em;
                font-weight: 300;
                text-shadow: 0 1px 1px #000;
                @include transition(all .5s cubic-bezier(0.7,0,0.3,1));
            }
            p{
                padding-bottom: 10px;
                color: #333;
                opacity: 0;
                font-size: 1em;
                @include transition(all .5s cubic-bezier(0.7,0,0.3,1));
                &:nth-child(2) {
                    @include transform(translateX(150px));
                }
                &:nth-child(3) {
                    @include transform(translateX(-150px));
                }
                a{
                    color: #333;
                }
                strong{
                    padding: 0 5px;
                    font-weight: normal;
                }
            }
        }
    }
    .content{
        position: relative;
        padding: 0 1rem 3rem;
        opacity: 0;
        @include transition(all .5s cubic-bezier(0.7,0,0.3,1));
        .article{
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
        }
        .like-counter{
            padding-top: 20px;
            padding-bottom: 40px;
            padding-bottom: 10px;
            text-align: center;
        }
    }
    &.trundle{
        .header{
            &-bg{
                @include transform(translateY(-28%))
                @include filter(blur(1px));
                &:after{
                    opacity: 1;
                }
            }
            &-title{
                h1{
                    color: #333;
                    text-shadow: none;
                }
                p{
                    opacity: 1;
                    @include transform(translateX(0));
                }
            }
        }
        .content{
            opacity: 1;
            @include transform(translateY(-100px))
        }
    }
}

@include max-screen(640px) {
    .detail{
        .header{
            &-title{
                font-size: 16px;
            }
        }
    }
};