<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>Home - admin</title>
</head>
<body id="app">
    <h1>Home - admin</h1>

    <ul>
        <% for(var i=0,len=feedbacks.length; i<len; ++i) { %>
        <li><%=feedbacks[i].id%> - <%=feedbacks[i].ua%></li>
        <% } %>
    </ul>
</body>
</html>