@charset "UTF-8";
//-----------------------------------------------------	
// setting scss
//-----------------------------------------------------	


// 开关设置
//-----------------------------------------------------	
$lte7:                  true !default; //是否兼容ie6-7
$filter:                true !default; //是否为ie6-8开启css3滤镜兼容，常用于渐变背景 
$printStyleSwitch:      false !default; //是否开启打印样式


// font相关
//-----------------------------------------------------	
$baseFontSize:          16px !default;
$baseLineHeight:        1.5 !default;
$baseFontFamily:        "brandon-grotesque",Georgia,Hiragino Sans GB, "Times New Roman", Times, "Songti SC", "SimSun",serif !default;
$fontCn:                "SimSun","宋体"; //宋体
$fontYaHei:             "Microsoft Yahei","微软雅黑"; //微软雅黑
$fontHeiTi:             "SimHei"; //黑体


// 元素上下间距
//-----------------------------------------------------	
$baseGap:               20px !default;


// 基本颜色
// color function : http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// lighten($color, $amount)
// darken($color, $amount)
// opacify($color, $amount)
// mix($color1, $color2[, $amount])
//-----------------------------------------------------	
$black:                 #000 !default;
$grayDarker:            #333 !default;
$grayDark:              #999 !default;
$gray:                  #ccc !default;
$grayLight:             #f5f5f5 !default;
$white:                 #fff !default;

$red:                   #cc3300 !default;
$blue:                  #00A3CF !default;
$blueDark:              #0064cd !default;
$orange:                #F47837 !default;
$green:                 #51B148 !default;
$yellow:                #ffc40d !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

$primary:               #0078E7 !default;//主色


// link
//-----------------------------------------------------	
// 如果只有一个值则滑过的值为这个值的darken 5%，如果
// 有两个值则第二个值为滑过的值
$linkColor:             #333 !default;


// scaffolding
//-----------------------------------------------------	
$bodyBgColor:           $white !default;
$textColor:             $grayDarker !default;


// placeholder
//-----------------------------------------------------	
// 变量分别为：是否输出表单的占位符placeholder样式，文本色
$placeholder:           true $gray !default;


// 交互配色
// 警告，错误，成功，提示
//-----------------------------------------------------	
// 每个变量都有三个颜色值，分别为：文本色，背景色，边框色
$warningColor:               #514721 #FFF6BF #FFD324 !default;  //输入
$errorColor:                 #8A1F11 #FBE3E4 #FBC2C4 !default;  //出错
$successColor:               #264409 #E6EFC2 #C6D880 !default;  //成功
$infoColor:                  #205791 #D5EDF8 #92CAE4 !default;  


// radius
//-----------------------------------------------------	
$baseRadius:            5px !default;  //默认圆角
$smallRadius:           3px !default;  //小型圆角


// z-index
//-----------------------------------------------------	
$zindexDropdown:        1000 !default;
$zindexFixedTopbar:     1010 !default;
$zindexTooltip:         1020 !default;
$zindexAlert:           1030 !default;
$zindexModal:           1100 !default;


// 自定义参数
//---------------------------------
$minWidth: 320px;  //最小宽度
$minHeight: 280px; //最小高度
$bgColor:#fff;  //默认背景
$fontSize: 14px;   //默认字体大小
$lineHight:1.5;    //默认字体行距
$fontColor:#333;   //默认字体颜色
$orange:#e85742;   //橙色
$lte7:false;       //默认不兼容ie6、ie7
$white: #fff;

// 默认样式，带%的样式默认不会被编译，不会占用空间。可以用@extend来调用。
//---------------------------------
%bgWhite{
	background-color: $white;
}
%white{
	color: $white;
}
