footer.footer
    .zz
        .copyright
            p= config.site.copyright
            p.subtitle= config.site.subtitle
        ul.social
            each href, tar in config.social
                if href
                    a(class="icon icon-#{tar}" target="_blank" href= href)
                else
                    a(class="icon icon-#{tar}")