footer.footer
    .zz
        .copyright
            p= site.copyright
            p.subtitle= site.subtitle
        ul.social
            each href, tar in social
                if href
                    a(class="icon icon-#{tar}" target="_blank" href= href)
                else
                    a(class="icon icon-#{tar}")