@charset "utf-8";

/*!
* @Author: 卓文理 www.zwlme.com
* @Email:  531840344@qq.com
* @Date:   2015-03-16 11:08:52
* @Last Modified by:   卓文理
* @Last Modified time: 2015-05-08 17:59:05
*/

@import 'base';

@font-face {font-family: "YanSong";
  src: url('font/YanSong.ttf') format('truetype');
}

@font-face {
  font-family: "Han Songti";
  src: local("Songti SC"), local("Songti TC"), local(STSong), local("Lisong Pro"), local(SimSun), local(PMingLiU);
}

@font-face {
  font-family: "Biaodian Pro Sans GB";
  src: local("Hiragino Sans GB"), local("Heiti SC"), local(STHeiti), local("MS Gothic"), local(SimSun);
  unicode-range: U+FF0E;
}

@font-face {
  font-family: "Han Heiti GB";
  src: local("Hiragino Sans GB"), local("Lantinghei SC"), local("Heiti SC"), local("Microsoft Yahei"), local("Droid Sans Fallback");
}

$blue: #00aeef;

html, body{
    width: 100%;
    height: 100%;
}
body{
    background: #171d25;
    color: #fff;
    position: relative;
    overflow: hidden;
    font-family: "Biaodian Pro Sans GB", "Helvetica Neue", Helvetica, Arial, "Han Heiti GB", sans-serif;
    &.scrollable{
        overflow: auto;
        overflow-x: hidden;
    }
}

@include keyframes(bar-slide) {
    0% {
        -webkit-transform: translateX(-5%)
    }

    100% {
        -webkit-transform: translateX(-60%)
    }
}

@include keyframes(bar-slide2) {
    0% {
        -webkit-transform: translateX(-10%)
    }

    100% {
        -webkit-transform: translateX(-35%)
    }
}

@include keyframes(bar-slide3) {
    0% {
        -webkit-transform: translateX(-44%)
    }

    100% {
        -webkit-transform: translateX(-70%)
    }
}

.icon{
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    .bar{
        background: $blue;
        display: block;
        margin: 4px 0 0 0;
        height: 3px;
        width: 100%;
        @include animation(bar-slide 1.3s ease-in-out alternate infinite paused);
        &.b{
            @include animation-name(bar-slide2);
            @include animation-duration(1.4s);
        }
        &.c{
            @include animation-name(bar-slide3);
            @include animation-duration(0.9s);
        }
    }
}

.logo{
    color: #fff;
    text-transform: uppercase;
    white-space: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    span{
        letter-spacing: 0.5em;
        opacity: 0.35;
        @include animation(flash-letter 1.2s ease infinite none);
        &.a{
            @include animation-delay(0.2s);
        }
        &.b{
            @include animation-delay(0.4s);
        }
        &.c{
            @include animation-delay(0.6s);
        }
    }
}


// 类型: home-page
// 说明: 首页
//-----------------------------------------------------
    @include keyframes(flash-letter){
        0%{ opacity: 0.35; }
        30%{ opacity: 0.8; }
        40%{ opacity: 0.45; }
        100%{ opacity: 0.21; }
    }
    @include keyframes(blip-ring){
        0% {
            opacity: 1;
            @include transform(scale(0.1));
        }
        100% {
            opacity: 0;
            @include transform(scale(1.8));
        }
    }
    .home-page{
    }
    // logo
    .home-logo{
        display: block;
        margin: -200px 0 0 -118px;
        position: absolute;
        top: 40%;
        left: 25%;
        opacity: 0;
        font: 0/18px "YanSong","微软雅黑","Songti SC","SimSun",serif;
        @include transition(all 0.8s ease-out 0.6s);
        span{
            font-size: 42px;
        }
    }
    // 导航
    .select-nav{
        display: block;
        margin: -220px 0 0 -150px;
        margin-top: -200px;
        position: absolute;
        top: 55%;
        left: 25%;
        height: 400px;
        width: 250px;
        -webkit-user-select: none;
        .selection{
            background: $blue;
            border-radius: 1px;
            display: block;
            position: absolute;
            top: 16px;
            left: 0;
            height: 80px;
            width: 6px;
            opacity: 0;
            @include transition(all 0.24s cubic-bezier(0.145,1.075,0.345,1.12) 0.06s);
            @include transition-duration(0.4s);
        }
        li{
            margin: 0 0 30px 0;
            -webkit-font-smoothing: antialiased;
            @include transition(all 0.2s ease-out);
            opacity: 0;
            @include transform(translateY(20px));
            @for $i from 2 through 4 {
                &:nth-child(#{$i}) {
                    @include transition-delay(#{($i - 1) * 120}ms);
                }
            }
            a{
                display: block;
                height: 100px;
                padding: 0 12px 0 32px;
            }
            strong{
                color: #fff;
                display: inline-block;
                font: 24px/32px "Lucida Grande",verdana,$fontCn,sans-serif;
                margin: 28px 0 0 0;
                vertical-align: middle;
            }
            .icon{
                margin: 25px 0 0 8px;
                vertical-align: middle;
                @include transform(translateZ(0));
                @include transform-style(preserve-3d);
                .bar{
                    @include animation-play-state(running);
                }
            }
            small{
                color: rgba(152,175,197,0.7);
                display: block;
                font: 13px/18px "Lucida Grande",verdana,$fontCn,sans-serif;
            }
        }
    }
    @include keyframes(spin){
        0% {
            // 不兼容IE
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    // 轮盘
    .spinner{
        display: block;
        margin: -220px -200px 0 0;
        position: absolute;
        top: 55%;
        right: 35%;
        height: 400px;
        width: 400px;
        pointer-events: none;
        @include transition(all 0.3s ease-in-out 0.2s);
        &.stationary{
            opacity: 0;
        }
        // 内圈
        .rings{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            @include transition(all 0.8s ease);
            opacity: 0;
            @include transform-style(flat);
            @include transform(scale(0.2) rotatez(-300deg));
            pointer-events: none;
            .ring{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                pointer-events: none;
                background: url('../img/0.png') no-repeat center center;
                background-size: 470px 470px;
                margin: -235px 0 0 -235px;
                height: 470px;
                width: 470px;
                @include animation-timing-function(linear);
                @include animation-iteration-count(infinite);
                @include animation-fill-mode(none);
                @include animation-delay(700ms);
                &.zero{
                    margin: -175px 0 0 -175px;
                    height: 350px;
                    width: 350px;
                    @include animation-duration(70s);
                }
                &.one{
                    background-image: url('../img/1.png');
                    @include animation-duration(70s);
                    @include animation-direction(reverse)
                }
                &.two{
                    background-image: url('../img/2.png');
                    @include animation-duration(190s);
                }
                &.three{
                    background-image: url('../img/3.png');
                    @include animation-duration(80s);
                    @include animation-direction(reverse);
                    display: none;
                }
            }
        }
        .preview-frontend{
            position: absolute;
            top: 2%;
            left: 50%;
            pointer-events: auto;
        }
        .preview-design{
            position: absolute;
            top: 72%;
            left: 89.5%;
            pointer-events: auto;
        }
        .preview-diary{
            position: absolute;
            top: 72%;
            left: 8.5%;
            pointer-events: auto;
        }
        .preview-mini{
            background: #2a3340;
            border: 10px solid #171d25;
            border-radius: 60px;
            display: block;
            margin: -45px 0 0 -45px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
            width: 80px;
            @include transition(all 0.2s ease-out 0.2s);
            @include transform(scale(0.6));
            cursor: pointer;
            .symbol{
                display: block;
                position: absolute;
                text-align: center;
                top: 0;
                left: 0;
                height: 80px;
                width: 100%;
                @include transition(all 300ms ease-in-out 200ms);
                @include transform(translateZ(0));
                .text{
                    color: #677a95;
                    display: block;
                    font: 500 12px/16px "Lucida Grande",verdana,$fontCn,sans-serif;
                    padding: 24px 0 0 0;
                    margin: 0;
                    text-align: center;
                    text-transform: uppercase;
                    width: auto;
                    @include transition(all 150ms ease-out);
                }
            }
        }
        .preview-full{
            display: block;
            margin: -80px 0 0 -80px;
            position: absolute;
            top: 0;
            left: 0;
            height: 160px;
            width: 160px;
            @include transition(all 200ms ease 200ms);
            z-index: 12;
            opacity: 0;
            @include transform(scale(0.8));
            pointer-events: none;
            .circle{
                display: block;
                position: absolute;
                top: 26px;
                left: -30px;
                height: 130px;
                width: 130px;
                @include transition(all 320ms ease 240ms);
                @include transform(scale(1) translateZ(0));
                @include transition-delay(0);
                .the-circle{
                    background: $blue;
                    border-radius: 80px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0.95;
                    @include transform(scale(1) translateZ(0));
                    -webkit-backface-visibility: hidden;
                    @include transition(all 130ms ease-out);
                }
                strong{
                    color: #111;
                    display: block;
                    font: 36px/1 "Lucida Grande",verdana,$fontCn,sans-serif;
                    position: relative;
                    text-align: center;
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                    margin: 34px 0 6px 0;
                }
                small{
                    color: #fff;
                    display: block;
                    font: 16px/18px "Lucida Grande",verdana,$fontCn,sans-serif;
                    letter-spacing: 1px;
                    position: relative;
                    text-align: center;
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                }
            }
            .big-circle{
                background: $blue;
                border-radius: 80px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                height: 160px;
                width: 160px;
                strong{
                    color: #111;
                    display: block;
                    font: 36px/1 "Lucida Grande",verdana,$fontCn,sans-serif;
                    position: relative;
                    text-align: center;
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                    margin: 43px 0 8px 0;
                }
                small{
                    color: #fff;
                    display: block;
                    font: 16px/18px "Lucida Grande",verdana,$fontCn,sans-serif;
                    letter-spacing: 1px;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    -webkit-transform: translateZ(0);
                    -webkit-backface-visibility: hidden;
                }
            }
            .two{
                height: 60px;
                width: 60px;
                top: 22px;
                left: 112px;
                strong{
                    font-size: 22px;
                    margin: 12px 0 0 0;
                }
                small{
                    font-size: 12px;
                }
            }
            .three{
                top: 97px;
                left: 108px;
                height: 55px;
                width: 55px;
                strong{
                    font-size: 18px;
                    margin: 10px 0 0 0;
                }
                small{
                    font-size: 12px;
                }
            }
            .backdrop{
                background: #171d25;
                border-radius: 80px;
                @include transform(scale(1.2));
            }
        }
        // 内圈
        .preview{
            margin: -100px 0 0 -100px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            height: 200px;
            width: 200px;
            -webkit-font-smoothing: antialiased;
            opacity: 0;
            @include transition(all 320ms ease-out);
            @include transform(scale(0.95) translateY(-10px));
            pointer-events: none;
        }
        // 地图
        .map-content{
            position: absolute;
            margin: -100px 0 0 -155px;
            overflow: hidden;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 200px;
            opacity: 0.7;
            padding: 0 30px;
            @include transition(all 220ms ease-out);
            &:hover{
                opacity: 1;
            }
            .the-map{
                background: url(../img/250.png) no-repeat 0 0;
                background-size: 250px 160px;
                display: block;
                margin: 0 0 0 -5px;
                height: 160px;
                width: 250px;
            }
            .bilp{
                display: block;
                position: absolute;
                margin: -8px 0 0 -8px;
                top: 88px;
                left: 232px;
                height: 16px;
                width: 16px;
                .bilp-ring{
                    background: $blue;
                    border-radius: 10px;
                    position: absolute;
                    margin: -10px 0 0 -10px;
                    top: 50%;
                    left: 50%;
                    height: 20px;
                    width: 20px;
                    @include transform(scale(0.2));
                    @include animation(blip-ring 1.8s ease-out infinite both);
                    &.one{
                        @include animation-delay(0);
                    }
                    &.two{
                        @include animation-delay(0.6s);
                    }
                    &.three{
                        @include animation-delay(1.2s);
                    }
                }
                .center{
                    background: #fff;
                    border-radius: 3px;
                    display: block;
                    margin: -2px 0 0 -2px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 4px;
                    width: 4px;
                }
            }
        }
        .detail{
            position: absolute;
            top: 0;
            margin: 150px 0 0 0;
            width: 100%;
            h3{
                color: #fff;
                font: 20px/30px "Lucida Grande",verdana,$fontCn,sans-serif;
                text-shadow: 1px 2px 5px rgba(0,0,0,0.6);
            }
            h4{
                color: rgba(255,255,255,0.6);
                font: 15px/18px "Lucida Grande",verdana,$fontCn,sans-serif;
            }
        }
        .preview-logo{
            display: block;
            margin: 15px 40px;
            width: 120px;
            height: 120px;
            background:url('../img/z.png') center center no-repeat;
            background-size: 100% 100%;
            opacity: 0.7;
            @include transition(all 220ms ease-out);
            &:hover{
                opacity: 1;
            }
        }
        .preview-article{
            h2{
                color: #fff;
                display: block;
                font: 20px/40px "Lucida Grande",verdana,$fontCn,sans-serif;
                margin: 24px 8px 8px 8px;
            }
            p{
                color: #aaa;
            }
            .goto{
                background: #00bff3;
                border-radius: 3px;
                color: #111;
                display: inline-block;
                font: 12px/18px "Lucida Grande",verdana,$fontCn,sans-serif;
                letter-spacing: 1px;
                margin: 16px 0 0 0;
                padding: 1px 6px 0 6px;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                z-index: 10;
                transition: all 240ms ease;
            }
        }
    }
    // 显示
    .show-frontend{
        .spinner.spinning{
            @include transform(rotateZ(0) translateZ(0));
            .preview-mini{
                @include transform(rotateZ(0deg) translateZ(0));
            }
            .preview-frontend .preview-full{
                @include transform(rotateZ(0deg) translateZ(0));
                pointer-events: auto;
            }
        }
        .spinner-frontend{
            opacity: 1;
            @include transform(scale(1));
            @include transition-delay(400ms);
            pointer-events: auto;
        }
        .selection{
            @include transform(translateY(0) translateZ(0));
        }
    }
    .show-design{
        .spinner.spinning{
            @include transform(rotateZ(-120deg) translateZ(0));
            .preview-mini{
                @include transform(rotateZ(120deg) translateZ(0));
            }
            .preview-design .preview-full{
                @include transform(rotateZ(120deg) translateZ(0));
                pointer-events: auto;
            }
        }
        .spinner-design{
            opacity: 1;
            @include transform(scale(1));
            @include transition-delay(400ms);
            pointer-events: auto;
        }
        .selection{
            @include transform(translateY(130px) translateZ(0));
        }
    }
    .show-diary{
        .spinner.spinning{
            @include transform(rotateZ(-240deg) translateZ(0));
            .preview-mini{
                @include transform(rotateZ(-120deg) translateZ(0));
            }
            .preview-diary .preview-full{
                @include transform(rotateZ(-120deg) translateZ(0));
                pointer-events: auto;
            }
        }
        .spinner-diary{
            opacity: 1;
            @include transform(scale(1));
            @include transition-delay(400ms);
            pointer-events: auto;
        }
        .selection{
            @include transform(translateY(260px) translateZ(0));
        }
    }
    .home-footer{
        margin: 230px 0 0 -170px;
        position: absolute;
        top: 50%;
        left: 25%;
        text-align: left;
        width: 300px;
        color: #515e6f;
        @include transition(all 300ms ease-out);
        opacity: 0;
        @include transform(translateY(-8px));
        font: 400 15px/18px "Lucida Grande",verdana,$fontCn,sans-serif;
        padding: 36px 42px 24px 50px;
        -webkit-font-smoothing: antialiased;
        a{
            display: inline-block;
            margin: 0 2px;
            color: #515e6f;
        }
    }
//-----------------------------------------------------

// 类型: 文章列表页
// 说明:
//-----------------------------------------------------
    .post-page{
        .post-menu{
            position: fixed;
            left: 0;
            top: 0;
            width: 18%;
            transition: all 200ms ease;
            opacity: 0;
            .stats{
                pointer-events: none;
                margin: 128px 0 0 42px;
                transition: all 200ms ease-out;
                opacity: 0;
                p{
                    color: #788b94;
                    font: 500 12px/1.4 "Lucida Grande",verdana,$fontCn,sans-serif;
                    margin: 8px 0 0 0;
                    -webkit-font-smoothing: antialiased;
                    a{
                        color: #c3d7ef;
                        transition: all 200ms ease-out;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .post-container{
            position: absolute;
            top: 0;
            left: 18%;
            right: 0;
            min-height: 100%;
            overflow: hidden;
            z-index: 1000;
            @include transition(all 0.5s ease-in-out);
            opacity: 0;
            .footer{
                padding: 42px 80px;
                color: #555;
                font: 400 15px/18px "Lucida Grande",verdana,$fontCn,sans-serif;
                -webkit-font-smoothing: antialiased;
            }
        }
        .post-backdrop{
            background: #fff;
            margin: 0;
            position: fixed;
            top: 0;
            left: 18%;
            right: 0;
            height: 100%;
            margin-left: -1px;
            z-index: 0;
            transition: opacity 0.3s ease-in-out,-webkit-transform 0.6s ease-out;
            opacity: 0;
        }
    }
    .article{
        border-bottom: 1px solid #eee;
        display: block;
        padding: 54px 80px;
        h1{
            font: 500 32px/1.3 $fontCn,sans-serif;
            padding: 0;
            color: #485463;
            -webkit-font-smoothing: antialiased;
            margin-bottom: 1em;
            a{
                color: #485463;
                text-decoration: none;
                &:hover{
                    color: #136ce1;
                }
            }
        }
        p {
            color: #555;
            font: 14px/1.6 "Lucida Grande",verdana,sans-serif;
            margin: 0 0 16px 0;
            -webkit-font-smoothing: antialiased;
        }
        // 查看更多
        .read-more{
            position: relative;
            border: 1px solid #4690ef;
            border-radius: 3px;
            color: #136ce1;
            display: inline-block;
            margin: 8px 0 0 0;
            padding: 4px 8px;
            text-decoration: none;
            @include transition(all 0.4s cubic-bezier(0.2, 1, 0.3, 1));
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #4690ef;
                z-index: -1;
                opacity: 0;
                @include transform(scale3d(0.7, 1, 1));
                @include transition(all 0.4s cubic-bezier(0.2, 1, 0.3, 1));
            }
            &:hover{
                color: #fff;
                &:before{
                    opacity: 1;
                    @include transform(translate3d(0, 0, 0));
                }
            }
        }
    }
    .uplevel{
        display: block;
        margin: 24px 0 0px 0;
        padding: 8px 0 0 0;
        transition: all 200ms ease-out;
        .arrow{
            color: #495269;
            display: block;
            font-size: 30px;
            line-height: 30px;
            float: left;
            margin: 0 0 0 26px;
            @include transition(all 0.5s ease);
        }
        .logo{
            padding-bottom: 8px;
            display: block;
            margin: 0 0 0 42px;
            font-family: 'Kozuka Mincho Pr6N','Kozuka Mincho Pro','Han Songti',serif;
            span{
                opacity: 0.5;
                font-size: 24px;
                -webkit-animation: none;
                -webkit-transform: none;
                transition: all 0.3s ease;
                vertical-align: top;
                letter-spacing: 0;
            }
            .a{
                transition-delay: 240ms!important;
            }
            .b{
                transition-delay: 120ms!important;
            }
            .c{
                transition-delay: 0ms!important;
            }
        }
        h2{
            color: #00bff3;
            display: inline-block;
            font: 15px/24px "Lucida Grande",verdana,$fontCn,sans-serif;
            letter-spacing: 3px;
            margin: 0 0 0 42px;
            padding-bottom: 32px;
            text-transform: uppercase;
            vertical-align: middle;
        }
        &:hover{
            .logo span{
                opacity: 1;
            }
            .arrow{
                color: tint(#495269, 10%);
                @include transform(translateX(-5px));
            }
        }
    }
    .back-menu{
        opacity: 0.8;
        transition: all 300ms linear;
        h2{
            color: #00bff3;
            display: inline-block;
            font: 15px/24px "Lucida Grande",verdana,$fontCn,sans-serif;
            letter-spacing: 3px;
            margin: 0 0 0 42px;
            padding-bottom: 32px;
            text-transform: uppercase;
            vertical-align: middle;
        }
        &:hover{
            opacity: 1;
        }
    }
//-----------------------------------------------------

// 类型: about-page
// 说明: 关于
//-----------------------------------------------------
    .about-page{
        .uplevel{
            .arrow{
                font-size: 24px;
                line-height: 21px;
            }
            span{
                font-size: 18px;
            }
        }
        .about-menu{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            @include transition(all 0.2s ease-in-out);
        }
        .about-header{
            padding: 56px 42px 36px 42px;
            text-align: center;
            h1{
                font: 600 36px/1.3 "DINWeb","Lucida Grande",verdana,sans-serif;
                line-height: 1;
                padding-top: 12px;
                color: #fff;
                opacity: 0;
                @include transition(all 0.3s ease-in-out);
            }
            h2{
                line-height: 1;
                font: 500 14px/1.2 "DINWeb","Lucida Grande",verdana,sans-serif;
                letter-spacing: 0.3em;
                color: #00bff3;
                opacity: 0;
                @include transition(all 0.3s ease-in-out);
            }
        }
        .about-info{
            display: block;
            overflow: hidden;
            background: #000;
            background: -webkit-linear-gradient(280deg, #000, rgba(0,0,0,0.5));
            background: linear-gradient(10deg, #000, rgba(0,0,0,0.5));
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
            @include transform(scaleY(0));
            @include clearfix;
            .text{
                display: block;
                float: left;
                width: 70%;
                padding: 24px 5% 24px 15%;
                font: 15px/1.8 "DINWeb","Lucida Grande",verdana,sans-serif;
                -webkit-font-smoothing: antialiased;
                @include transition(all 0.3s ease-in-out);
                opacity: 0;
                color: #9eacbf;
                p{
                    margin: 0 16px 16px 16px;
                }
            }
            .stats{
                display: block;
                float: right;
                width: 30%;
                height: 100%;
                padding: 24px 0;
                @include clearfix;
                dl{
                    float: left;
                    width: 50%;
                    @include transition(all 0.3s ease-in-out);
                    opacity: 0;
                }
                dt{
                    display: inline-block;
                    font: 12px/1.4 "DINWeb","Lucida Grande",verdana,sans-serif;
                    -webkit-font-smoothing: antialiased;
                    text-transform: uppercase;
                    color: #00bff3;
                    line-height: 21px;
                }
                dd {
                    display: block;
                    font: 15px/1.4 "DINWeb","Lucida Grande",verdana,sans-serif;
                    letter-spacing: -0.05em;
                    margin: 0 0 8px 0;
                    position: relative;
                    -webkit-font-smoothing: antialiased;
                    color: #ccd4de;
                    font-weight: 600;
                    line-height: 24px;
                    a{
                        color: #ccd4de;
                    }
                }
            }
        }
        .about-attr{
            position: relative;
            padding-bottom: 28px;
            max-width: 1000px;
            margin: 0 auto;
            h2{
                display: block;
                color: #4c586a;
                font: 600 12px/18px "DINWeb","Lucida Grande",verdana,sans-serif;
                letter-spacing: 0.1em;
                padding-top: 66px;
                padding-bottom: 80px;
                text-align: right;
                text-transform: uppercase;
                width: 18%;
                opacity: 0;
                @include transition(all 0.2s ease-in-out);
            }
            ul{
                position: absolute;
                top: 50px;
                left: 20%;
                right: 0;
                font-size: 0;
            }
            li{
                display: inline-block;
                position: relative;
                text-align: center;
                width: 100px;
                -webkit-font-smoothing: antialiased;
                transition: all 200ms ease-out;
                opacity: 0;
                &:nth-child(1){
                    transition-delay: 390ms;
                }
                &:nth-child(2){
                    transition-delay: 480ms;
                }
                &:nth-child(3){
                    transition-delay: 570ms;
                }
                &:nth-child(4){
                    transition-delay: 650ms;
                }
                .logo{
                    display: inline-block;
                    height: 50px;
                    width: 100px;
                    margin: 0 auto;
                    transition: all 150ms ease-out;
                    -webkit-transform: scale(0.75);
                    opacity: 0.6;
                    background:transparent url('../img/logo.png') no-repeat;
                    background-size: 100% 500%;
                }
                .github .logo{
                    background-position: 0 0;
                }
                .jekyll .logo{
                    background-position: 0 -50px;
                }
                .gruntjs .logo{
                    background-position: 0 -100px;
                }
                .jquery .logo{
                    background-position: 0 -150px;
                }
                .sass .logo{
                    background-position: 0 -200px;
                }
                h3{
                    display: block;
                    font: 600 13px/1.2 "DINWeb","Lucida Grande",verdana,sans-serif;
                    position: absolute;
                    top: 44px;
                    width: 100px;
                    transition: all 150ms ease-out;
                    opacity: 0;
                    -webkit-transform: translateY(2px) scale(1.1);
                    color: #fff;
                }
                &:hover{
                    .logo{
                        -webkit-transform: translateY(-24px) scale(1);
                        opacity: 1;
                    }
                    h3{
                        opacity: 1;
                        -webkit-transform: translateY(-8px);
                        transition-delay: 40ms;
                    }
                }
            }
        }
    }
//-----------------------------------------------------


// 类型: loading effect
// 说明: 页面加载效果
//-----------------------------------------------------
    // loading
    .loading{
        .post-menu{
            @include transform(translateX(-32px));
            .stats{
                @include transform(translateX(-50px));
            }
        }
        .post-page{
            &:not(.post-detail){
                .post-backdrop{
                    -webkit-transform: translateX(120%);
                }
                .post-container{
                    -webkit-transform: translateX(18%);
                }
            }
            &.post-detail{
                .post-backdrop{
                    -webkit-transform: translateX(120%);
                    transition-delay: 300ms;
                }
                .post-container{
                    opacity: 0;
                    transition-delay: 800ms;
                }
            }
        }
        .about-menu{
            @include transform(translateX(-32px));
        }
        .about-header{
            h1{
                @include transform(translateY(28px));
            }
            h2{
                @include transform(translateY(21px));
            }
        }
        .about-info{
            opacity: 0.3;
            .text{
                @include transform(translateY(-15px));
            }
            .stats{
                dl{
                    @include transform(translateY(-15px));
                }
            }
        }
        .about-attr{
            h2{
                @include transform(translateY(8px));
            }
            ul li{
                @include transform(translateY(12px));
            }
        }
    }
    .loaded{
        // 首页
        .home-logo{
            opacity: 1;
            @include transform(translateY(0));
        }
        .home-footer{
            opacity: 1;
            @include transform(none);
            @include transition-delay(550ms);
        }
        .select-nav{
            li{
                opacity: 1;
                @include transform(translateY(0));
            }
            .selection{
                opacity: 1;
            }
        }
        .spinner{
            opacity: 1;
            .rings{
                opacity: 1;
                @include transform(scale(1) rotate(0));
            }
            .ring{
                @include animation-name(spin);
            }
            .preview-mini{
                opacity: 1;
                @include transform(scale(1));
            }
        }
        .show-frontend .preview-frontend, .show-design .preview-design, .show-diary .preview-diary{
            .preview-full{
                opacity: 1;
                @include transform(scale(1));
                transition-delay: 400ms;
            }
            .preview-mini{
                opacity: 0;
                @include transform(scale(1.5));
                transition-delay: 400ms;
            }
        }

        // 文章列表页
        .post-menu{
            opacity: 1;
            -webkit-transform: translateX(0);
            transition-delay: 100ms;
            .uplevel, .stats{
                opacity: 1;
                @include transform(none);
                pointer-events: auto;
            }
        }
        .post-container{
            opacity: 1;
            -webkit-transform: translateX(0);
            transition-delay: 350ms;
            .article{
                @include transition(all 0.3s ease-in-out);
                opacity: 1;
                color: #333;
            }
        }
        .post-backdrop{
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transition-delay: 0;
        }

        // 关于
        .about-menu{
            opacity: 1;
            @include transform(translateX(0));
            transition-delay: 100ms;
        }
        .about-header{
            h1, h2{
                opacity: 1;
                @include transform(none);
            }
        }
        .about-info{
            opacity: 1;
            @include transform(none);
            .text{
                opacity: 1;
                @include transform(none);
                transition-delay: 300ms;
            }
            .stats{
                dl{
                    opacity: 1;
                    @include transform(none);
                    transition-delay: 470ms;
                }
                .stats-2{
                    transition-delay: 500ms;
                }
            }
        }
        .about-attr{
            h2{
                opacity: 1;
                transition-delay: 300ms;
                @include transform(none);
            }
            ul li{
                opacity: 1;
                @include transform(none);
            }
        }
    }
    .quiting{
        .post-page{
            &:not(.post-detail){
                .post-container{
                    opacity: 0;
                    transition-delay: 0;
                    @include transform(translateX(18%));
                    @include transition(all 0.2s ease-in-out);
                    .article{
                        opacity: 0;
                    }
                }
            }
            &.post-detail{
                .post-container{
                    opacity: 0;
                    transition-delay: 0;
                    @include transition(all 0.2s ease-in-out);
                    .article{
                        opacity: 0;
                    }
                }
            }
        }
        .post-backdrop{
            -webkit-transform: translateX(120%);
            @include transition(all 0.8s ease-in-out);
        }
    }
//-----------------------------------------------------

// 类型: 正文内容
// 说明:
//-----------------------------------------------------
    .article{
        opacity: 0;
        transition: all 0.2s ease-in-out;
        .back{
            color: #b1bac6;
            display: block;
            font: 500 13px/1.4 $fontCn,sans-serif;
            padding: 0 0 32px 0;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-font-smoothing: antialiased;
            &:hover .arrow{
                -webkit-transform: translateX(-8px);
                opacity: 0.55;
            }
            .arrow{
                color: #888;
                display: block;
                float: left;
                font-size: 20px;
                line-height: 16px;
                font-weight: bold;
                opacity: 0.35;
                transition: all 150ms ease-out;
            }
            .text{
                display: block;
                font-weight: bold;
                letter-spacing: 0.3em;
                margin: 0 0 0 12px;
            }
        }
        .article-info{
            text-align: center;
            h1{
                font-size: 50px;
                font-weight: bold;
            }
        }
        .article-body{
            overflow: hidden;
            font-size: 16px;
            line-height: 1.6;
            word-wrap: break-word;
            color: #333;
            &>*:first-child {
                margin-top: 0 !important
            }
            &>*:last-child {
                margin-bottom: 0 !important
            }
            a{
                color: #4183c4;
                &:not([href]) {
                    color: inherit;
                    text-decoration: none
                }
                &:hover,&:active{
                    text-decoration: underline;
                }
            }
            h1, h2, h3, h4, h5, h6{
                position: relative;
                margin-top: 1em;
                margin-bottom: 16px;
                font-weight: bold;
                line-height: 1.4;
            }
            h2 {
                padding-bottom: 0.3em;
                font-size: 1.75em;
                line-height: 1.225;
                border-bottom: 1px solid #eee
            }
            h3 {
                font-size: 1.35em;
                line-height: 1.43
            }
            h4 {
                font-size: 1.2em
            }
            h5 {
                font-size: 1em
            }
            h6 {
                font-size: 1em;
                color: #777
            }
            p, blockquote, ul, ol, dl, table, pre{
                margin-top: 0;
                margin-bottom: 16px;
            }
            p{
                text-indent: 2em;
                padding: 0;
                img{
                    margin-left: -2em;
                }
            }
            b, strong{
                color: #000;
            }
            hr {
                height: 4px;
                padding: 0;
                margin: 16px 0;
                background-color: #e7e7e7;
                border: 0 none
            }
            ul,ol {
                padding-left: 2em;
                list-style-type: disc;
                &.no-list{
                    padding: 0;
                    list-style-type: none
                }
                ul,ol {
                    margin-top: 0;
                    margin-bottom: 0;
                    list-style-type: circle;
                }
            }
            li>p {
                margin-top: 16px;
                text-indent: 0;
            }
            dl {
                padding: 0;
                dt {
                    padding: 0;
                    margin-top: 16px;
                    font-size: 1em;
                    font-style: italic;
                    font-weight: bold;
                }
                dd {
                    padding: 0 16px;
                    margin-bottom: 16px
                }
            }
            blockquote {
                padding: 0 15px;
                color: #777;
                border-left: 4px solid #ddd;
                &>:first-child {
                    margin-top: 0
                }
                &>:last-child {
                    margin-bottom: 0
                }
            }

            table {
                display: block;
                width: 100%;
                overflow: auto;
                word-break: normal;
                word-break: keep-all;
                th {
                    font-weight: bold
                }
                th,td {
                    padding: 6px 13px;
                    border: 1px solid #ddd
                }
                tr {
                    background-color: #fff;
                    border-top: 1px solid #ccc;
                    &:nth-child(2n) {
                        background-color: #f8f8f8
                    }
                }
            }
            img {
                max-width: 100%;
                box-sizing: border-box
            }
            code,tt {
                padding: 0;
                padding-top: 0.2em;
                padding-bottom: 0.2em;
                margin: 0;
                font-size: 90%;
                background-color: rgba(0,0,0,0.04);
                border-radius: 3px;
                &:before,&:after{
                    letter-spacing: -0.2em;
                    content: "\00a0"
                }
                br{
                    display: none
                }
            }
            del code {
                text-decoration: inherit
            }
            pre>code {
                padding: 0;
                margin: 0;
                font-size: 100%;
                word-break: normal;
                white-space: pre;
                background: transparent;
                border: 0;
                font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
            }
            // iframe
            iframe{
                width: 100%;
                height: auto;
                min-height: 380px;
            }

            // 代码高亮
            .highlight {
                margin-bottom: 16px;
                pre {
                    padding: 16px;
                    overflow: auto;
                    font-size: 85%;
                    line-height: 1.45;
                    background-color: #f7f7f7;
                    border-radius: 3px;
                    margin-bottom: 0;
                    word-break: normal;
                }
            }
            pre {
                word-wrap: normal;
                code,tt {
                    display: inline;
                    max-width: initial;
                    padding: 0;
                    margin: 0;
                    overflow: initial;
                    line-height: inherit;
                    word-wrap: normal;
                    background-color: transparent;
                    border: 0;
                    &:before,&:after {
                        content: normal
                    }
                }
            }
            .c, .c1 {
                color: #969896
            }
            .s, .s1, .s2, .si, .sx{
                color: #183691;
            }
            .p, .n, .nx, .nv, .nl, .nf, .err, .sr, .sh{
                color: #333;
            }
            .m, .mi, .mh, .mf{
                color: #0086b3;
            }
            .kc, .nb, .no, .py{
                color: #0086b3;
            }
            .k, .kd, .kr, .o, .ow{
                color: #a71d5d;
            }
            .nt, .pi{
                color: #63a35c;
            }
            .na, .nc, .nd{
                color: #795da3;
            }
        }
    }
//-----------------------------------------------------

// 类型: disqus_thread
// 说明: 评论
//-----------------------------------------------------
    #disqus_thread{
        display: block;
        padding: 54px 80px;
    }
//-----------------------------------------------------

@include min-screen(1400px){
    .spinner{
        right: 45%;
        margin-right: -250px;
    }
}

@include max-screen(800px){
    .post-page{
        .post-menu{
            position: static;
            width: 100%;
            .uplevel{
                margin: 0;
                h2{
                    display: none;
                }
            }
            .stats{
                display: none;
            }

        }
        .post-container{
            position: static;
            background: #fff;
            opacity: 1;
            @include transform(translateX(0));
        }
        .post-backdrop{
            display: none;
        }
    }
    .post-detail{
        .post-menu{
            display: none;
        }
    }
    .loading, .loaded{
        .post-page:not(.post-detail){
            .post-container{
                @include transform(translateX(0));
            }
        }
        .post-page.post-detail{
            .post-container{
                opacity: 1;
            }
        }
    }
}
@include max-screen(640px){
    .post-page{
        .post-container{
            .article{
                padding: 2em;
                h1{
                    font-size: 1.75em;
                }
                h2{
                    font-size: 1.5em;
                }
                h3{
                    font-size: 1.25em;
                }
            }
            .footer{
                padding: 2em;
            }
        }
    }
    #disqus_thread{
        padding: 2em;
    }
}
@include max-screen(400px){
    .post-page{
        .post-container{
            .article, .footer{
                padding: 1em;
            }
        }
    }
    #disqus_thread{
        padding: 1em;
    }
}