.DS_Store
*.lock
composer.phar
Thumbs.db
/**/.cache/
/**/*.log
/**/*.lock

# exclude
_site/
_img/
_posts/
qrsync
qrsync.json
.env

# bower
bower_components

# npm
node_modules
npm-debug.log

# sass
.sass-cache
*.css.map
config.codekit

dump.rdb

# build
build/
/**/config.js
*.js.map
/**/dist/