// ==============================
// Post footer
// =============================

#colophon {
    font-size: 14px;
    display: block;
    overflow: hidden;
    width: 90%;
    max-width: $global-body-width;
    margin: 30px auto 0;
    padding: 20px 0;
    color: $dark-gray;
    border-top: 1px solid #e1e1e1;
    a {
        color: $dark-gray;
    }

    .footer-author {
        margin: 0 4px;
    }
}

.footer {
    margin-top: $footer-margin-top;
}

.nav-bottom {
    float: right;

    .nav-bottom-items {
        margin: 0 auto;
        padding-left: 0px;
        list-style: none;

        .menu-item {
            font-size: 14px;
            display: inline-block;
            margin: 0 15px;
            a {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

.sticky {
    font-family: vktn;
    font-size: 18em;
    font-weight: bold;
    line-height: 1;
    display: flex;
    justify-content: center;
    color: #000000;
    .text {
        transition: ease-in-out 0.5s;
        transform: translateY(0.3em);
        &:hover {
            transform: translateY(0.1em);
        }
    }
}

.is-home {
    .copyright, .nav-bottom {
        display: none;
    }
    #colophon {
        padding: 0;
        border-top: 0;
    }
}

@include max-screen() {
    #colophon {
        font-size: 12px;
        text-align: center;
    }

    #nav-bottom {
        display: block;
        float: none;
        margin-top: 10px;
        text-align: center;
    }
}
