// ==============================
// Header
// ==============================

.header {
    @include clearfix;

    padding: $header-padding;
}


#masthead {
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 4em;

    .site-title {
        font-size: 1.375rem;
        font-weight: 600;
        font-style: normal;
        font-variant: small-caps;
        line-height: 2rem;
        margin: 0;
        text-align: center;
        letter-spacing: 0.5em;
        color: #000000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        a {
            color: #000000;
        }
    }
}

@include max-screen() {
    .header {
        padding: 20px 0 0;
        text-align: center;
    }
    #masthead .site-title {
        font-size: 1rem;
    }
}
