// ==============================
// Header
// ==============================

.header {
    @include clearfix;

    padding: $header-padding;
}

#masthead {
    position: relative;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    .site-title {
        font-size: 1.375rem;
        font-weight: 600;
        font-style: normal;
        font-variant: small-caps;
        line-height: 2rem;
        margin: 0;
        padding-top: 4em;
        text-align: center;
        letter-spacing: 0.5em;
        color: #000000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        a {
            color: #000000;
        }
    }
}

#bounds {
    position: relative;
    z-index: 1;
    width: 1024px;
    height: 672px;
    margin: 0 auto;
    .widget-shape {
        position: absolute;
        z-index: 2;
        top: 53px;
        left: 7px;
        width: 230px;
        height: 230px;
        svg {
            width: 100%;
            height: 100%;
        }
        circle {
            pointer-events: visiblePainted;

            fill: rgb(255,83,83);
            stroke: none;
            stroke-width: 0;
            &:nth-child(2) {
                visibility: hidden;
            }
        }
    }
    .text {
        font-size: 3em;
        font-weight: 400;
        font-style: normal;
        font-variant: small-caps;
        line-height: 1.3;
        position: absolute;
        z-index: 2;
        top: 166px;
        left: 110px;
        width: 342px;
        height: 249px;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        color: #000000;
        span {
            font-weight: bold;
            font-style: normal;
        }
    }
    .small {
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        position: absolute;
        z-index: 2;
        top: 273px;
        left: 222px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #ff5353;
    }
    .animation-line {
        position: absolute;
        z-index: -1;
        top: 0;
        left: -448px;
        width: 1920px;
        height: 1080px;
        transform: matrix(1, 0, 0, 1, 0, 0);
        animation-name: breathe;
        animation-duration: 4.7s;
        animation-play-state: running;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        opacity: 1;

        animation-fill-mode: none;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            content: '';
            opacity: 1;
            border-radius: 0px;
            background-image: url('../assets/line.jpg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            box-shadow: none;
        }
    }
    .icon {
        position: absolute;
        top: 440px;
        left: 110px;
        display: flex;
        align-items: center;
        .iconfont {
            font-size: 24px;
            line-height: 38px;
            width: 38px;
            height: 38px;
            margin-right: 10px;
        }
    }
}

@keyframes breathe {
    0%, 4.25531914893617% {
        transform: matrix(1,0,0,1,0,0);
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    100% {
        transform: matrix(1.4,0,0,1.4,0,-150);
        opacity: 1;
    }
}

@include max-screen() {
    .header {
        padding: 20px 0 0;
        text-align: center;
    }
    #masthead .site-title {
        font-size: 1rem;
    }

    #bounds {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        margin-bottom: -25vh;
        .widget-shape {
            top: 25.625vw;
            left: 5vw;
            width: 50vw;
            height: 50vw;
            circle {
                &:nth-child(2) {
                    visibility: visible;
                }
                &:nth-child(1) {
                    visibility: hidden;
                }
            }
        }
        .text {
            font-size: 2.5em;
            top: 50vw;
            left: 20vw;
        }
        .small {
            top: 103vw;
            left: 20vw;
        }
        .animation-line {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &::after {
                background-image: url('../../assets/line-mobile.jpg');
            }
        }
        .icon {
            top: 123vw;
            left: 20vw;
            .iconfont {
                font-size: 22px;
                margin-right: 6px;
            }
        }
    }
}
