// ==============================
// Post
// ==============================

.posts {
    margin-bottom: $post-list-margin-bottom;
    border-bottom: $post-border;
}

.post {
    @import '_post/header';
    @import '_post/content';
    @import '_post/footer';

    .post-excerpt {
        img {
            padding-top: 0.5em;
        }
    }
}
