.post-header {
    .post-title {
        font-family: $global-font-family;
        font-size: $post-title-font-size;
        font-weight: $post-title-font-weight;
        line-height: 1.25;
        margin: 2.5em 0 1.5em;
        text-align: center;
        text-transform: none;
    }

    .post-subtitle {
        font-size: 0.38em;
        line-height: 1.5;
        text-align: left;
        color: #333333;
    }

    .post-link {
        @include underline-from-center;

        display: block;
        text-align: left;
    }
}

.post-time {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    color: $post-time-font-color;
}

.post-excerpt {
    p {
        margin: 0 0 16px;
    }
}
