.post-header {
    .post-title {
        font-family: $global-font-family;
        font-size: $post-title-font-size;
        font-weight: $post-title-font-weight;
        line-height: 1.25;
        margin: 1.5em 0;
        text-align: center;
        text-transform: none;
    }

    .post-link {
        @include underline-from-center;
    }
}

.post-time {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    color: $post-time-font-color;
}
