@charset 'utf-8';
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 * @site  : www.zhuowenli.com
 */

@import "../../node_modules/sass-core/function";
@import "./common/common";

.container{
    background: #f9f9fb url('../img/bg.jpg') left center no-repeat;
    background-size: 100% auto;
}

.articles{
    @include column-width(320px);
    @include column-gap(20px);
    width: 100%;
    padding: rem(20px) 0;
    article{
        display: inline-block;
        background: #fff;
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid;
        margin-bottom: 20px;
        &:hover{
            @include box-shadow(0 0 rem(20px) rgba(#000, 0.3));
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}