@charset 'utf-8';
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 * @site  : www.zhuowenli.com
 */

@import "../../node_modules/sass-core/function";

@import "./common/common";
@import "./common/header";
@import "./common/footer";
@import "./common/error";

*, *:before, *:after{
    @include box-sizing;
}

html{
    font-family: 'PingHei',
                 'Helvetica Neue',      // OSX，English
                 'Helvetica',
                 "PingFang SC",         // OSX，苹方（华康信凭黑）
                 "Hiragino Sans GB",    // OSX，冬青黑体
                 'STHeitiSC-Light',     // OSX，华文黑体
                 "Source Han Sans CN",  // 思源黑体
                 "Source Han Sans SC",  // 思源黑体
                 'Microsoft YaHei',     // Win，微软雅黑
                 'WenQuanYi Micro Hei', // Linux，文泉驿微米黑
                 'Arial',               // Win
                 sans-serif;
}

.zz{
    position: relative;
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    @include clearfix;
}




















