<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	
	<link rel="dns-prefetch" href="//hm.baidu.com"/>
	<link rel="dns-prefetch" href="//disqus.com"/>
	<link rel="dns-prefetch" href="//a.disquscdn.com"/>

	<meta name="Keywords" content="卓文理,前端,前端开发,网页设计,交互设计"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />    
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />     
	<meta content="telephone=no" name="format-detection" />  
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<link rel="alternate" type="application/rss+xml" title="卓文理 Feed" href="{{ site.BASE_PATH }}/rss.xml" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/img/icon.png">
	<link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/img/icon-72.png" sizes="72x72" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/img/icon-76.png" sizes="76x76" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/img/icon-114.png" sizes="114x114" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/img/icon-120.png" sizes="120x120" />
	<link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/img/icon-152.png" sizes="152x152" />
	<link href="{{ site.BASE_PATH }}/img/icon.png" rel="Shortcut Icon" type="image/x-icon"/>
	
    <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

	<link rel="stylesheet" href="{{ site.BASE_PATH }}/css/style.css">
	<link rel="stylesheet" href="{{ site.BASE_PATH }}/css/rouge.css">
	
</head>