<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <link rel="dns-prefetch" href="//disqus.com"/>
    <link rel="dns-prefetch" href="//a.disquscdn.com"/>

    <meta name="Keywords" content="卓文理,前端,前端开发,网页设计,交互设计{% if page.tags %}{% for tag in page.tags %},{{ tag }}{% endfor %}{% endif %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/lib/img/icon.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/lib/img/icon-72.png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/lib/img/icon-76.png" sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/lib/img/icon-114.png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/lib/img/icon-120.png" sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.BASE_PATH }}/lib/img/icon-152.png" sizes="152x152" />
    <link href="{{ site.BASE_PATH }}/lib/img/icon.png" rel="Shortcut Icon" type="image/x-icon"/>

    <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

    {% if page.css-link %}
    <link rel="stylesheet" href="{{ site.BASE_PATH }}/lib/static/{{ page.css-link }}">
    {% endif %}
    <link rel="stylesheet" href="{{ site.BASE_PATH }}/lib/app.css">
</head>
