<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<meta name="Keywords" content="卓文理,前端,前端开发,网页设计,交互设计"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable" />    
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />     
	<meta content="telephone=no" name="format-detection" />  
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">

	<link href="{{ site.BASE_PATH }}/img/icon.png" rel="apple-touch-icon-precomposed">
	<link href="{{ site.BASE_PATH }}/img/icon.png" rel="Shortcut Icon" type="image/x-icon"/>
	
    <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>

	<link rel="stylesheet" href="{{ site.BASE_PATH }}/css/style.css">

	<!--[if lt IE 9]>
		<script src="{{ site.BASE_PATH }}/js/html5.js" type="text/javascript"></script>
	<![endif]-->
</head>