		<nav id="menu" class="menu">
			<ul>
				<li><a href="{{ site.BASE_PATH }}/"><i class="icon">&#xe612;</i>首页</a></li>
				<li><a href="{{ site.BASE_PATH }}/codebase.html"><i class="icon">&#xe60b;</i>代码库</a></li>
				<li><a href="{{ site.BASE_PATH }}/frontend.html"><i class="icon">&#xe60c;</i>前端开发</a></li>
				<li><a href="{{ site.BASE_PATH }}/design.html"><i class="icon">&#xe60c;</i>设计网摘</a></li>
				<li><a href="{{ site.BASE_PATH }}/diary.html"><i class="icon">&#xe60c;</i>生活日志</a></li>
				<li><a target="_blank" href="{{ site.BASE_PATH }}/about.html"><i class="icon">&#xe61c;</i>关于博主</a></li>
				<li><a href="{{ site.BASE_PATH }}/friend.html"><i class="icon">&#xe61d;</i>友链</a></li>
				<li><a target="_blank" href="{{ site.BASE_PATH }}/rss.xml"><i class="icon">&#xe61f;</i>RSS</a></li>
			</ul>
			<button id="btnClose" class="btn-close"></button>
			<div id="SVGMenu" class="svg-menu" data-menu-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z" data-menu-close="M-6,0h101c0,0-90,153.603-90,396.167C2.167,627.579,100,800,100,800H-1V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">
				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
					<path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>
				</svg>
			</div>
		</nav>