    <div class="post-menu">
        <a href="/" class="uplevel jump">
            <span class="arrow">‹</span>
            <strong class="logo">
                <span class="a">卓</span>
                <span class="b">文</span>
                <span class="c">理</span>
            </strong>
        </a>
        <a href="/{{page.categories}}" class="back-menu jump">
            {% if page.categories contains "frontend"%}
                <h2>前端开发</h2>
            {% elsif page.categories contains "design"%}
                <h2>设计网摘</h2>
            {% else %}
                <h2>生活日志</h2>
            {% endif %}
        </a>
        <ul class="stats">
            <li>
                <p>本站站长</p>
                <p><a target="_blank" href="http://www.zhuowenli.com" class="jump">卓文理</a></p>
            </li>
            <li>
                <p>交流Q群</p>
                <p><a>106120803</a></p>
            </li>
            <li>
                <p>联系方式</p>
                <p><a target="_blank" href="mailto:531840344@qq.com">531840344@qq.com</a></p>
            </li>
        </ul>
    </div>