<header class="post-header">
	<div class="hd-img">
		<img src="{{ site.BASE_PATH }}/img/bg/{{ page.img }}.jpg" alt="背景图片">
	</div>
	<div class="title">
		<h1>{{ page.title }}</h1>
	</div>
</header>
<button id="btnArrow" class="btn-arrow" data-info="点击显示文章"><i class="icon icon-arrow-down"></i></button>
<div class="post-title">
	<h1>{{ page.title }}</h1>
	{% if page.subline %}<p class="subline">{{page.subline}}</p>{% endif %}
	<p>作者: <strong>{{ site.author.name }}</strong>&nbsp;&nbsp;&nbsp;分类: <strong>{{ page.categories }}</strong>&nbsp;&nbsp;&nbsp;日期: <strong>{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日</strong></p>
</div>

<article class="post-content">
	<div>
		{% if page.demo-link %}
			<p class="SVGButton demo">
				<a href="javascript:setTimeout(function(){window.open('{{ site.BASE_PATH }}/{{ page.demo-link }}');clearTimeout();},300);" class="entry-more demo-link" target="_blank">
					<span class="button" data-morph-active="M286,113c0,0-68.8-5-136-5c-78.2,0-137,5-137,5s5-15.802,5-50.5C18,33.999,13,12,13,12s59,5,137,5c85,0,136-5,136-5s-5,17.598-5,52C281,96.398,286,113,286,113z">
						<svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
							<path d="M286.5,113c0,0-104,0-136.5,0c-35.75,0-136.5,0-136.5,0s0-39.417,0-52.5c0-12.167,0-48.5,0-48.5s101.833,0,136.5,0c33.583,0,136.5,0,136.5,0s0,35.917,0,48.5C286.5,73.167,286.5,113,286.5,113z"/>
						</svg>
					</span>
					<span class="text">View Demo</span>
				</a><a href="javascript:setTimeout(function(){window.open('{{ site.BASE_PATH }}/{{ page.demo-link }}/{{ page.demo-source }}');clearTimeout();},300);" class="entry-more demo-source" target="_blank">
					<span class="button" data-morph-active="M286,113c0,0-68.8,9-136,9c-78.2,0-137-9-137-9S3,97.198,3,62.5C3,33.999,13,12,13,12S72,2,150,2c85,0,136,10,136,10s11,17.598,11,52C297,96.398,286,113,286,113z">
						<svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
							<path d="M286.5,113c0,0-104,0-136.5,0c-35.75,0-136.5,0-136.5,0s0-39.417,0-52.5c0-12.167,0-48.5,0-48.5s101.833,0,136.5,0c33.583,0,136.5,0,136.5,0s0,35.917,0,48.5C286.5,73.167,286.5,113,286.5,113z"/>
						</svg>
					</span>
					<span class="text">Download Source</span>
				</a>	
			</p>
		{% endif %}
	
		{{content }}

	</div>
</article>
{% include disqus %}
