<header class="post-header">
	<div class="hd-img">
		<img src="{{ site.BASE_PATH }}/img/bg/{{ page.img }}.jpg" alt="背景图片">
	</div>
	<div class="title">
		<h1>{{ page.title }}</h1>
	</div>
</header>
<button id="btnArrow" class="btn-arrow" data-info="点击显示文章"><i class="icon icon-arrow-down"></i></button>
<div class="post-title">
	<h1>{{ page.title }}</h1>
	{% if page.subline %}<p class="subline">{{page.subline}}</p>{% endif %}
	<p>作者: <strong>{{ site.author.name }}</strong>&nbsp;&nbsp;&nbsp;分类: <strong>{{ page.categories }}</strong>&nbsp;&nbsp;&nbsp;日期: <strong>{{ page.date | date: "%Y" }}年{{ page.date | date: "%m" }}月{{ page.date | date: "%d" }}日</strong></p>
</div>

<article class="post-content">
	<div>
		{{content }}
	</div>
</article>