@charset "utf-8";
@import '../sassCore/base';
@import '../sassCore/core/reset';

//
// @description: 介绍
// @author: 卓文理
// @tipe: 最后由卓文理编译整理，有问题请联系 QQ:531840344。
// @update: 2014.05
// @version:  v1.0
//

body{
	overflow: hidden;
	background: #333;
	/*
		perspective 属性定义 3D 元素距视图的距离，以像素计。该属性允许您改变 3D 元素查看 3D 元素的视图。
		当为元素定义 perspective 属性时，其子元素会获得透视效果，而不是元素本身。
		注释：perspective 属性只影响 3D 转换元素。
	*/
	-webkit-perspective:3000;
	perspective:3000; 
}
h1{
	color: #fff;
	font:45px '微软雅黑';
	width: 500px;
	padding: 50px;
}

.grid{
	width: 1060px;/*Width = (225 + 20 + 20) * 4 = 1060*/
	@include transform(rotateX(60deg) rotateZ(-50deg));
	@include transform-style(preserve-3d);
	padding-top: 100px;
	li{
		height: 400px;
		width: 225px;
		float: left;
		margin: 20px;
		background-size: 0,cover;
		@include transform-style(preserve-3d);
		&:before,&:after{
			content: "";
			@include positionLT;
			right: 0;
			bottom: 0;
			background: inherit;
			background-size: cover;
		}
		&:before{
			width: 5px;
			@include transform-origin(left center);
			@include transform(rotateY(90deg));
		}
		&:after{
			height: 5px;
			top: auto;
			bottom: 0;
			@include transform-origin(bottom center);
			@include transform(rotateX(90deg));
			background-position: bottom ; 
		}
	}
	.s{  //阴影
		@include positionLT(30px);
		right: 30px;
		bottom: 30px;
		background: rgba(0,0,0,.5);
		@include box-shadow(0 0 30px 30px rgba(0,0,0,0.5));
		@include transform(translateZ(-50px));
	}
}


.one {
	background: 
		linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
		url("img/m1.png");
}
.two {
	background: 
		linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
		url("img/m2.png");
}
.three {
	background: 
		linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
		url("img/m3.png");
}
.four {
	background: 
		linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
		url("img/m4.png");
}
.five {
	background: 
		linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
		url("img/m5.png");
}
.six {
	background: 
		linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
		url("img/m6.png");
}
.seven {
	background: 
		linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
		url("img/m7.png");
}
.eight {
	background: 
		linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), 
		url("img/m8.png");
}