@charset "UTF-8";
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 * @desc  : Description
 */

@import "../../stylesheets/common";

.expand{
    position: absolute;
    top: 50%;
    left: -85px;
    opacity: 0.5;
    margin-top: -432.5px;
    &.leftside{
        @include transform(translate(200px, 0));
    }
    &.rightside{
        right: -85px;
        left: auto;
        @include transform(translate(-240px, 0));
    }
    svg{
        height: 865px;
        width: 62px;
        vertical-align: bottom;
    }
    .st0{
        stroke: rgba(255, 255, 255, .7);
    }
    .st2 {
        fill: none;
        stroke-linecap: round;
        stroke-miterlimit: 10;
    }
    .st0, .st1{
        fill: none;
        stroke-miterlimit: 10;
    }
    .st1, .st2{
        stroke: rgba(255, 255, 255, .5);
    }
    &.on{
        path{
            @include transition(all .8s);
            stroke-dashoffset: 0 !important;
        }
    }
}

.hideexpand{
    .expand{
        &.leftside, &.rightside{
            transition: all .5s ease-in-out;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
}

.hideborder{
    .expand {
        opacity: 0.5;
    }
}

.vr{
    position: absolute;
    top: 0;
    height: 100%;
    width: 3px;
    overflow: hidden;
    &.left{
        left: 0;
    }
    &.right{
        right: 2px;
    }
    & > div{
        position: relative;
        width: 1px;
        height: 100%;
    }
    .b{
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        margin-left: 1px;
        background: rgba(#fff, .5);
        @include transition(all .5s);
        @include transform(translate3d(0, -100%, 0));
    }
    .d {
        position: absolute;
        height: 3px;
        width: 3px;
        border-radius: 3px;
        opacity: 0;
        background: rgba(#fff, .5);
        @include transition(all .5s);
    }
    .top{
        top: 0;
    }
    .bottom{
        bottom: 0;
    }
}
.hr{
    position: absolute;
    width: 100%;
    height: 3px;
    overflow: hidden;
    & > div{
        width: 100%;
        position: relative;
        height: 1px;
    }
    .b{
        display: block;
        position: absolute;
        top: 1px;
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, .5);
        @include transform(translate3d(-100%, 0, 0));
        @include transition(all .5s);
    }
    .d{
        display: block;
        position: absolute;
        height: 3px;
        width: 3px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        @include border-radius(3px);
        @include transition(all .5s);
    }
    .left{
        left: 0;
    }
    .right{
        right: 0;
    }
    &.dark{
        span{
            background: rgba(255, 255, 255, 1);
        }
    }
}
.showborder{
    .vr > div, .hr > div {
        .b{
            @include transform(translate3d(0, 0, 0));
        }
        .d{
            opacity: 1;
        }
    }
}
.hideborder{
    .hr > div {
        .b{
            @include transform(translate3d(100%, 0, 0));
        }
        .d{
            opacity: 0;
        }
    }
    .vr > div {
        .b{
            @include transform(translate3d(0, 100%, 0));
        }
        .d{
            opacity: 0;
        }
    }
}