// 底部
.footer{
    background: #f2f2f2;
    padding: rem(80px) 0;
    .copyright{
        display: inline-block;
        p{
            margin: 0;
            line-height: rem(40px);
            font-size: rem(20px);
            color: #333;
        }
        .subtitle{
            color: #999;
            font-style: italic;
            font-weight: lighter;
        }
    }
    .social{
        float: right;
        font-size: 0;
        .icon{
            position: relative;
            display: inline-block;
            width: rem(80px);
            height: rem(80px);
            line-height: rem(80px);
            margin-left: rem(20px);
            font-size: rem(30px);
            text-align: center;
            @include border-radius(50%);
            color: #fff;
            background: rgba(#000, 0.1);
            @include transition(background 0.2s ease-in-out);
            cursor: pointer;
            text-decoration: none;
            &:after{
                content: '';
                position: absolute;
                top: -7px;
                left: -7px;
                right: -7px;
                bottom: -7px;
                padding: 7px;
                @include border-radius(50%);
                @include box-shadow(0 0 0 4px #fff);
                @include transition(all 0.2s ease-in-out);
                @include transform(scale(1.2));
                pointer-events: none;
                opacity: 0;
            }
            &:hover{
                background: #fff;
                color: #f2f2f2;
                &:after{
                    opacity: 1;
                    @include transform(scale(1));
                }
            }
        }
    }
}