/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 */

html{
    font-size: 20px;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5em;
}
h5{
    font-size: 1.25em;
}

slides>slide{
    font-size: 1.25rem;
}

big{
    font-size: 2rem;
}
small{
    font-size: 1rem;
}

a{
    cursor: pointer;
    color: #FF8C78;
}
a:hover{
    color: #FF4D2E;
}

pre code{
    word-break: break-word;
}

p{
    font-family: Monaco;
}

