// ==============================
// Post content
// ==============================

.post-content {
    @import 'code';

    margin-bottom: $content-margin-bottom;

    font-feature-settings: 'lnum','calt','liga','clig';

    @for $i from 1 through 6 {
        h#{$i} {
            font-family: $global-font-family;
            font-weight: 600;
            line-height: 1.2;
            position: relative;
            margin: 1em 0 0.5em;
        }
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    .headerlink {
        &:hover {
            border-bottom: 0;
        }

        &::before {
            font-size: 1.1em;
            margin-right: 5px;
            color: $theme-color;
        }
    }

    p {
        hyphens: auto;
    }

    hr {
        border: 1px dashed $gray;
    }

    a {
        word-break: break-all;
        color: $theme-color;

        &:hover {
            border-bottom: $content-link-border;
        }

        &.fancybox {
            border: 0;
        }
    }

    blockquote {
        position: relative;
        margin: 2em 0;
        padding-left: 10px;
        color: rgba(0, 0, 0, 0.6);
        border-left: 2px solid #aaaaaa;
        background-color: #ffffff;
        p {
            margin: 0;
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
    }

    ul, ol {
        padding-left: 2em;
        img {
            margin: initial;
        }
    }

    strong {
        font-weight: 700;
    }

    > table {
        max-width: 100%;
        margin: 10px 0;
        border-spacing: 0;

        th, td {
            padding: 5px 15px;
            text-align: left;
            border: 1px double $content-table-border-color;
        }
    }

    .read-more {
        .read-more-link {
            font-family: $global-font-family;
            font-size: 1.1em;
            color: $theme-color;

            &:hover {
                border-bottom: $post-readMore-border-bottom;
            }
        }
    }

    iframe {
        width: 100%;
        min-height: 400px;
        border: 1px solid #7a7a7a;
    }
}
