// ==============================
// Post footer
// ==============================

.post-footer {
    font-family: $global-font-family;
    margin-top: $post-footer-margin-top;

    .post-tags {
        padding: $post-tags-padding;

        a {
            margin-right: 5px;
            word-break: break-all;
            color: $theme-color;

            &::before {
                content: '#';
            }
        }
    }

    .post-nav {
        @include clearfix;

        margin: 1em 0;

        .prev, .next {
            font-family: $global-font-family;
            font-size: 16px;
            font-weight: 400;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-property: transform;
            color: $global-font-color;
        }

        .prev {
            float: left;

            &:hover {
                transform: translateX(-4px);
                color: $theme-color;
            }
        }

        .next {
            float: right;

            &:hover {
                transform: translateX(4px);
                color: $theme-color;
            }
        }

        .nav-mobile {
            display: none;
        }
    }
}

@include max-screen() {
    .post-footer {
        .post-nav {
            .nav-default {
                display: none;
            }

            .nav-mobile {
                display: inline;
            }
        }
    }
}
