@charset "UTF-8";
/* 
* @Author: 卓文理(zwlme.com)
* @Email: 531840344@qq.com
* @Date:   2014-09-30 14:30:41
* @Last Modified by:   卓文理(zwlme.com)
* @Last Modified time: 2014-09-30 14:47:36
*/
html, body { margin: 0; padding: 0; height: 100%; }

#hex { color: #fff; font: 64px/64px Lato; height: 64px; position: relative; top: 50%; margin-top: -32px; text-align: center; }
