@charset "UTF-8";
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 * @site  : www.zhuowenli.com
 */
.container {
  background: #f9f9fb url("../img/bg.jpg") left center no-repeat;
  background-size: 100% auto; }

.articles {
  -webkit-column-width: 320px;
  -moz-column-width: 320px;
  column-width: 320px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  width: 100%;
  padding: 0.625rem 0; }
  .articles article {
    display: inline-block;
    background: #fff;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    margin-bottom: 20px; }
    .articles article:hover {
      -webkit-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3); }
    .articles article img {
      width: 100%;
      height: auto; }
