body{
    background:#232323;
    overflow: hidden;
}
.wrapper{
    width:860px;
    height:440px;
    overflow: hidden;
}
#editor {
    width:860px;
    height:400px;
    font-size: 20px;
    background:#232323;
}
