@charset "UTF-8";
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 * @desc  : Description
 */

@import "../../stylesheets/common";

.articles{
    display: block;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    section{
        margin-bottom: 170px;
    }
}

@include max-screen(640px) {

};