@charset "utf-8";
/* 
* @Author: 卓文理(zwlme.com)
* @Email: 531840344@qq.com
* @Date:   2014-10-20 15:03:19
* @Last Modified by:   卓文理(zwlme.com)
* @Last Modified time: 2014-10-20 16:03:41
*/
@import '../../lib/sassCore/base';
@import '../../lib/sassCore/core/reset';

body{
	background: #fff;
}

#page-wrap{
	margin: 50px;
	h1{
		margin-bottom: 20px;
	}
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
    th{
        background: #333;
        color: #fff;
        font-weight: bold;
    }
    tr:nth-of-type(odd){
        background: #eee;
    }
    td,th{
    	padding: 8px;
    	border: 1px solid  #ccc;
    	text-align: left;
    }
}

.first{
	@include max-screen(800px){
		td:nth-child(2), th:nth-child(2),
		td:nth-child(4), th:nth-child(4) {
			display: none;
		}
	}
	@include max-screen(640px){
		td:nth-child(7), th:nth-child(7),
		td:nth-child(8), th:nth-child(8) {
			display: none;
		}
	}
}

.second{
	@include max-screen(768px){
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		thead{
			display: none;
		}
		tr { 
			border: 1px solid #ccc;
		}
		td { 
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
			&:before { 
				position: absolute;
				top: 6px;
				left: 6px;
				width: 45%; 
				padding-right: 10px; 
				white-space: nowrap;
			}			
			&:nth-of-type(1):before { content: "First Name"; }
			&:nth-of-type(2):before { content: "Last Name"; }
			&:nth-of-type(3):before { content: "Job Title"; }
			&:nth-of-type(4):before { content: "Favorite Color"; }
			&:nth-of-type(5):before { content: "Wars of Trek?"; }
			&:nth-of-type(6):before { content: "Porn Name"; }
			&:nth-of-type(7):before { content: "Date of Birth"; }
			&:nth-of-type(8):before { content: "Dream Vacation City"; }
			&:nth-of-type(9):before { content: "GPA"; }
			&:nth-of-type(10):before { content: "Arbitrary Data"; }
		}
	}
}