// ==============================
// Widget
// =============================

#secondary {
    max-width: 850px;
    margin: $global-content-margin;
    padding-top: 40px;
    color: rgba(0, 0, 0, 0.6);

    ol, ul {
        list-style: none;
    }
}

.widget-area {
    font-size: 14px;

    ul {
        padding-left: 0;
    }

    h3 {
        margin-top: 0;
        color: #000000;
    }

    .widget-title {
        font-size: 16px;
        font-weight: 300;
        padding-bottom: 5px;
        letter-spacing: 1px;
        // border-bottom: 1px solid #dddddd;
    }

    .category-list-item {
        line-height: 1.9;

        .category-list-link {
            color: rgba(0, 0, 0, 0.6);
        }

        .category-list-count {
            font-size: 0.85em;
            padding-left: 5px;
            color: #999999;
        }

        .category-list-count:before {
            content: '(';
        }

        .category-list-count:after {
            content: ')';
        }
    }
}

.widget-area + .widget-area {
    margin-top: 30px;
}

.widget_tags {
    .tag-list-item {
        font-size: 14px;
        display: inline-block;
        padding: 0 10px 7px 0;
        text-transform: uppercase;
        border: 1px solid #ff;
        background: #ffffff;

        .tag-list-link {
            color: rgba(0,0,0,0.6);
        }
    }

    .tag-list-count {
        font-size: 0.6em;
        top: -0.5em;
        vertical-align: super;
        opacity: 0.6;
    }
}
