@charset "UTF-8";
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 * @desc  : Description
 */

@import "./common";
@import "~sass-core/core/reset";
@import "../../static/font/iconfont.css";
@import "./article";

html{
    height: 100%;
    font-family: 'Helvetica Neue',      // OSX，English
                 'Helvetica',
                 "PingFang SC",         // OSX，苹方（华康信凭黑）
                 "Hiragino Sans GB",    // OSX，冬青黑体
                 'STHeitiSC-Light',     // OSX，华文黑体
                 "Source Han Sans CN",  // 思源黑体
                 "Source Han Sans SC",  // 思源黑体
                 'Microsoft YaHei',     // Win，微软雅黑
                 'WenQuanYi Micro Hei', // Linux，文泉驿微米黑
                 'Arial',               // Win
                 sans-serif;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

body{
    font-size: 16px;
}

*, *:before, *:after{
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    @include box-sizing;
}

$sky: #5fc9c9;

.main{
    min-height: 100vh;
}

.home{
    &-index{
        position: relative;
        height: 100vh;
        @include transition(all 0.5s ease);
        &__about{
            position: absolute;
            top: 25px;
            right: 45px;
            z-index: 3;
            a{
                position: relative;
                color: #333;
                font-size: 13px;
                &:after{
                    content: '';
                    position: absolute;
                    right: -8px;
                    top: 50%;
                    display: inline-block;
                    @include transform(translateY(-50%));
                    @include triangle(right, 4px, #ccc);
                }
            }
        }
        &__text{
            position: absolute;
            top: 40%;
            left: 10%;
            z-index: 2;
            .logo{
                min-width: 161px;
                padding-left: 75px;
                padding-top: 65px;
                background: transparent url('../../static/img/logo.png') left top no-repeat;
                @include display-flex;
                .lines{
                    position: relative;
                    width: 150px;
                    height: 50px;
                    border-left: 1px dotted #cccccc;
                    border-bottom: 1px dotted #cccccc;
                    &:before, &:after{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        height: 6px;
                        width: 6px;
                        background: #ccc;
                        @include border-radius(6px);
                    }
                    &:before{
                        top: -3px;
                        left: -3px;
                    }
                    &:after{
                        bottom: -3px;
                        right: -3px;
                    }
                }
                p{
                    line-height: 20px;
                    padding-left: 10px;
                    padding-top: 38px;
                    font-size: 14px;
                    color: #333;
                    @include flex(1);
                }
            }
        }
        &__bg{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            overflow: hidden;
            background: #fff;
            video{
                position: absolute;
                top: 0;
                right: 265px;
                bottom: 0;
                width: auto;
                height: 100%;
                @include transform(translate(30%, 0%));
            }
        }
        &__bottom{
            position: absolute;
            bottom: 3px;
            right: 45px;
            @include display-flex;
            .lines{
                position: relative;
                display: inline-block;
                width: 160px;
                height: 185px;
                border-left: 1px dotted #cccccc;
                border-top: 1px dotted #cccccc;
                &:before, &:after{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    height: 6px;
                    width: 6px;
                }
                &:before{
                    bottom: -3px;
                    left: -4px;
                    @include triangle(bottom, 4px, #ccc);
                }
                &:after{
                    top: -3px;
                    right: -3px;
                    background: #ccc;
                    @include border-radius(6px);
                }
            }
            a{
                display: inline-block;
                height: 1em;
                margin-top: -6px;
                margin-left: 10px;
                line-height: 1;
                color: #333;
                font-size: 13px;
                cursor: pointer;
                @include flex(1);
            }
        }
    }
}

.post-lists{
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding-bottom: 62px;
    a:not(.btn){
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: -5px;
            right: -5px;
            height: 2px;
            margin-top: -1px;
            background: $sky;
            @include transform(scaleX(0));
            @include transition(all 0.3s ease-in-out);
        }
        &:hover, &:active{
            &:before{
                @include transform(none);
            }
        }
    }
    .cover{
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    section{
        position: relative;
        width: 90%;
        max-width: 1000px;
        margin: 0 auto 170px;
    }
    &__meta{
        &--top{
            position: relative;
            margin-bottom: 70px;
            height: 36px;
            color: #333;
        }
        &--bottom{
            text-align: center;
            .more{
                padding-bottom: 40px;
                a{
                    color: #333;
                    font-size: 16px;
                }
            }
        }
    }
    &__number{
        position: absolute;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        left: -50px;
        font-size: 14px;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -76px;
            transform: translateY(-50%);
            width: 45px;
            height: 3px;
            background-color: #000;
        }
    }
    &__title{
        line-height: 2;
        font-size: 18px;
        a{
            color: #333;
        }
    }
    &__content{
        margin-bottom: 30px;
    }
}


.fade-enter-active, .fade-leave-active {
    @include transition(opacity .5s ease);
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
.child-view {
    position: absolute;
    @include transition(all .5s cubic-bezier(.55,0,.1,1));
}


@include max-screen(1360px){
    .home-index{
        &__bg{
            video{
                right: -165px;
            }
        }
    }
}

@include max-screen(640px){
    .home-index{
        &__about, &__bottom{
            display: none;
        }
        &__bg{
            video{
                right: -265px;
            }
        }
        &__text{
            .logo *{
                display: none;
            }
        }
    }
};











