@charset "UTF-8";
/**
 * @author: 卓文理
 * @email : 531840344@qq.com
 * @desc  : Description
 */

@import "./common";
@import "~sass-core/core/reset";
@import "../../static/font/iconfont.css";
@import "./article";

html{
    height: 100%;
    font-family: 'Helvetica Neue',      // OSX，English
                 'Helvetica',
                 "PingFang SC",         // OSX，苹方（华康信凭黑）
                 "Hiragino Sans GB",    // OSX，冬青黑体
                 'STHeitiSC-Light',     // OSX，华文黑体
                 "Source Han Sans CN",  // 思源黑体
                 "Source Han Sans SC",  // 思源黑体
                 'Microsoft YaHei',     // Win，微软雅黑
                 'WenQuanYi Micro Hei', // Linux，文泉驿微米黑
                 'Arial',               // Win
                 sans-serif;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

body{
    font-size: 16px;
}

*, *:before, *:after{
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    @include box-sizing;
}

$sky: #5fc9c9;

.main{
    min-height: 100vh;
}

.post-lists{
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding-bottom: 62px;
    a:not(.btn){
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: -5px;
            right: -5px;
            height: 2px;
            margin-top: -1px;
            background: $sky;
            @include transform(scaleX(0));
            @include transition(all 0.3s ease-in-out);
        }
        &:hover, &:active{
            &:before{
                @include transform(none);
            }
        }
    }
    .cover{
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    section{
        position: relative;
        width: 90%;
        max-width: 1000px;
        margin: 0 auto 170px;
    }
    &__meta{
        &--top{
            position: relative;
            margin-bottom: 20px;
            height: 36px;
            color: #333;
        }
        &--bottom{
            text-align: center;
            .more{
                padding-bottom: 40px;
                a{
                    color: #333;
                    font-size: 16px;
                }
            }
        }
    }
    &__number{
        position: absolute;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        left: -50px;
        font-size: 14px;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: -76px;
            transform: translateY(-50%);
            width: 45px;
            height: 3px;
            background-color: #000;
        }
    }
    &__title{
        line-height: 2;
        font-size: 18px;
        a{
            color: #333;
        }
    }
    &__content{
        margin-bottom: 30px;
        .images{
            margin-bottom: 20px;
        }
        .content{
            font-style: italic;
        }
    }
}


.fade-enter-active, .fade-leave-active {
    @include transition(opacity .5s ease);
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
.child-view {
    position: absolute;
    @include transition(all .5s cubic-bezier(.55,0,.1,1));
}


@include max-screen(1360px){
    .home-index{
        &__bg{
            video{
                right: -165px;
            }
        }
    }
}

@include max-screen(640px){
    .home-index{
        &__about, &__bottom{
            display: none;
        }
        &__bg{
            video{
                right: -265px;
            }
        }
        &__text{
            .logo *{
                display: none;
            }
        }
    }
};











