@charset "utf-8";
/* 
* @Author: 卓文理(zwlme.com)
* @Email: 531840344@qq.com
* @Date:   2014-09-30 15:40:33
* @Last Modified by:   卓文理(zwlme.com)
* @Last Modified time: 2014-09-30 15:55:59
*/
@import '../sassCore/base';

//  layout
//---------------------------------
	body{
		@include perspective(2000px);
		padding: 100px 0;
		background: #ccc;
		overflow-x: hidden;
	}
//---------------------------------

//  texture
//---------------------------------
	.container{
		width: 1000px;
		margin: 0 auto;
		background: #fff;
		padding: 4em;
		text-transform: uppercase;
		@include box-shadow(50px 50px 20px rgba(0,0,0,0.1));
		@include transform(translateZ(-300px) rotateX(10deg) rotateY(-20deg) rotateZ(10deg));
		@include prefixer-values(transition,transform 1s ease);
		background: url(img/bg.jpg);
		background-size: cover;
		outline: 1px solid transparent;
		h1{
			font-size: 20em;
			line-height: 1;
			margin: 0 auto;
			padding: 0;
			color: #fff;
			text-align: center;
			@include mask-image(url(img/mask.png));
		}
		h2{
			font-size: 5em;
			text-align: center;
			color: #fff;
			font-weight: 900;
			letter-spacing: 2px;
		}
	}
//---------------------------------