<!DOCTYPE html>
<html lang="cn">
{% include head.html %}
<body>
	<div id="container" class="container modify">
		{% include loading.html %}

		<div id="content" class="content">
			{% include navbar.html %}

			{{content }}

			{% include footer.html %}
		</div>

		<nav id="menu" class="menu">
			<ul>
				<li class="active"><a href="{{ site.BASE_PATH }}">首页</a></li>
				<li><a href="{{ site.BASE_PATH }}/frontend.html">前端开发</a></li>
				<li><a href="{{ site.BASE_PATH }}/design.html">设计网摘</a></li>
				<li><a href="{{ site.BASE_PATH }}/diary.html">生活日志</a></li>
				<li><a href="{{ site.BASE_PATH }}/about.html">关于博主</a></li>
				<li><a href="{{ site.BASE_PATH }}/codebase.html">代码库</a></li>
			</ul>
		</nav>
	</div>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/classie.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/PathLoader.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/pageLoading.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/menuTriggle.js"></script>
	<!--[if lte IE 8]>
		<script type="text/javascript">
			var con = document.getElementById("container");
			con.innerHTML = '还用这么垃圾的IE浏览器，你家人造么？<br />赶紧<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie">升级IE</a>浏览器，或者使用 <a target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/">chrome</a> or <a target="_blank" href="http://www.firefox.com.cn/">Firefox</a> 吧！';
			con.style.textAlign = "center";
			con.style.paddingTop = "300px";
			con.style.fontSize  = "32px";
			document.body.style.background = "#fff";
		</script>
	<![endif]-->
</body>
</html>