<!DOCTYPE html>
<html lang="cn">
{% include head.html %}
<body>
	<div id="container" class="container modify">
		{% include loading.html %}

		<div id="content" class="content">
			{% include navbar.html %}

			{{content }}

		</div>
		
		{% include footer.html %}

		{% include menu.html %}
		
	</div>
	
	<!--[if lte IE 8]>
		<script type="text/javascript" src="{{ site.BASE_PATH }}/js/fuckie.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/classie.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/PathLoader.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/pageLoading.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/snap.svg-min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/menuTriggle.js"></script>
	{% include tongji %}
</body>
</html>