<!DOCTYPE html>
<html lang="cn" ng-app="codebase">
{% include head.html %}
<body>
	<div id="container" class="container modify">
		{% include loading.html %}

		<div id="content" class="content">
			{% include navbar.html %}

			<header class="header">
				<h1 class="title">我的小伙伴们</h1>
				<h2>My Friends</h2>
			</header>
			
			<div class="friend">
				{{content }}
			</div>
		</div>
		
		{% include footer.html %}

		<nav id="menu" class="menu">
			<ul>
				<li><a href="{{ site.BASE_PATH }}/">首页</a></li>
				<li><a href="{{ site.BASE_PATH }}/frontend.html">前端开发</a></li>
				<li><a href="{{ site.BASE_PATH }}/design.html">设计网摘</a></li>
				<li><a href="{{ site.BASE_PATH }}/diary.html">生活日志</a></li>
				<li><a href="{{ site.BASE_PATH }}/about.html">关于博主</a></li>
				<li><a href="{{ site.BASE_PATH }}/codebase.html">代码库</a></li>
				<li><a class="active" href="{{ site.BASE_PATH }}/friend.html">友链</a></li>
				<li><a target="_blank" href="{{ site.BASE_PATH }}/rss.xml">RSS</a></li>
			</ul>
		</nav>
	</div>
	
	<!--[if lte IE 8]>
		<script type="text/javascript" src="{{ site.BASE_PATH }}/js/fuckie.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/classie.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/PathLoader.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/pageLoading.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/js/menuTriggle.js"></script>
	<script type="text/javascript">
		var content = document.querySelector('.content'),
			footer = document.querySelector('.footer'),
			footT  = footer.offsetTop,
			footH  = footer.offsetHeight,
			winH   = window.innerHeight;
		if (footT - footH + 100 < winH) {
			content.style.minHeight = winH - footH + 'px';
		};
	</script>
	{% include tongji %}
</body>
</html>