<!DOCTYPE html>
<html lang="cn">
{% include head.html %}
<body>
    <div id="container" class="container modify">
        <main id="postPage" class="page post-page post-detail">
            {% include menu.html %}
            <div class="post-container">
                <div class="article">
                    <a href="/{{ page.categories }}" class="back jump">
                        <span class="arrow">‹</span>
                        <span class="text">返回目录</span>
                    </a>
                    <header class="article-info">
                        <h1>{{ page.title }}</h1>
                    </header>
                    <div class="article-body">
                        {{content }}
                    </div>
                </div>
                {% include disqus %}
                {% include foot.html %}
            </div>
            <div class="post-backdrop"></div>
        </main>
    </div>
    <script type="text/javascript" src="/lib/app.js"></script>
    <script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>
</body>
</html>