<!DOCTYPE html>
<html lang="cn">
{% include head.html %}
<body>
    <div id="container" class="container modify">
        <main id="postPage" class="page post-page post-detail">
            {% include menu.html %}
            <div class="post-container">
                <div class="article">
                    <a href="/{{ page.categories }}" class="back">
                        <span class="arrow">&lt;</span>
                        <span class="text">返回目录</span>
                    </a>
                    <header class="article-info">
                        <h1>{{ page.title }}</h1>
                    </header>
                    <div class="article-body">
                        {{content }}
                    </div>
                </div>
                {% include disqus %}
                {% include foot.html %}
            </div>
            <div class="post-backdrop"></div>
        </main>

        <script type="text/javascript" src="/res/js/index.js"></script>
        <script type="text/javascript">
            app.init();
        </script>
    </div>
</body>
</html>