@charset "utf-8";
@import '../../sassCore/base';
@import '../../sassCore/core/reset';

//
// @description: 介绍
// @author: 卓文理
// @tipe: 最后由卓文理编译整理，有问题请联系 QQ:531840344。
// @update: 2014.05
// @version:  v1.0
//
// common
//---------------------------------
	body>div[id]{
		z-index: 101;
		position: relative;
		border-bottom: 1px solid #dcdcdc;
	}
	.headline{
		text-align: center;
		position: relative;
		top: -22px;
		margin-top: 0;
		z-index: 200;
		span{
			display: inline-block;
			font-size: 18px;
			font-weight: 700;
			background: #fff;
			@include box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.95),inset 0 0 8px rgba(0, 0, 0, 0.12),1px 0 0 rgba(0, 0, 0, 0.25),-1px 0 0 rgba(0, 0, 0, 0.25),0 1px 0 rgba(0, 0, 0, 0.2),0 -1px 0 rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.09));
			padding: 6px 35px;
			@include border-radius(10px);
			@include background-clip;
			border:1px solid #ddd;
		}
	}
	.headline2{
		text-align: center;
		font-size: 60px;
		font-weight: 700;
		color: #1abc9c;
		margin: 0;
		margin-bottom: 5px;
		span{
			font-size: 30px;
			color: #16343b;
			text-align: right;
		}
	}
	.headline3{
		font-size: 24px;
		text-align: center;
		margin: 0;
		font-weight: 300;
		margin-bottom: 60px;
	}
	.container{
		width: 980px;
		margin: auto; 
	}
//---------------------------------

// navigation
//---------------------------------
	#navigation{
		height: 49px;
		width: 100%;
		position: fixed;
		top: 0;  
		left: 0;
		background-color: #fff;
		border-bottom: 1px solid #dfdfdf;
		@include box-shadow( 0 1px 0 rgba(0, 0, 0, 0.05),0 1px 3px rgba(0, 0, 0, 0.15));
		text-align: center;
		z-index: 200;
		a{
			display: inline-block;
			width: auto;
			padding: 5px 20px;
			margin-top: 10px;
			@include transition(all 300ms);
			@include border-radius(6px);
			&:hover{
				background-color: #1abc9c;
				color: #fff;
			}
			&:active{
				background-color: #16a085;
				color: #fff;
			}
			&.active{
				background-color: #e4e7ea;
				&:hover{
					background-color: #eee;
					color: #333;
				}
			}
		}
	}
//---------------------------------

// intro
//---------------------------------
	#intro{
		background-attachment: fixed;
		height: 1064px;
		z-index: 102;
		text-align: center;
		overflow: hidden;
		position: static;
		.logo{
			text-align: center;
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			span{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				min-width: 990px;
				background-attachment: fixed;
			}
			.logo_piffle{
				background:url(../img/logo-mask.png) center fixed no-repeat;
				z-index: 1;
			}
			.logo_fg{
				background: url(../img/intro_icon_fg.png) center fixed no-repeat;
			}
			.logo_bg{
				background: url(../img/intro_icon_bg.png) center 100px fixed no-repeat;
			}
		}
		h1{			
			text-align: center;
			font-size: 30px;
			top: 540px;
			width: 100%;
			text-indent: 30px;
			position: fixed;
			min-width: 990px;
			-webkit-user-select: text;
			font-weight: 700;
			span{
				font-weight: 400;
			}
		}
	}
//---------------------------------

// project
//---------------------------------
	.bg_gray{
		background: #fcfcfc url(../img/bg_gray.png);
		@include box-shadow(inset 0px 1px 3px rgba(0,0,0,0.2),inset 0px -1px 3px rgba(0,0,0,0.2));
	}
	#project{
		height: 900px;
	}
	.slide{
		width:960px;
		height:600px;
		margin: 100px auto 0;
		overflow:hidden;
		border:1px solid #aaa;
		position:relative;
		text-align: center;
		.std-slide-next,.std-slide-prev{
			position:absolute; 
			top:40%;
			background:#bcbcbc;
			height: 34px;
			width: 34px;
			@include border-radius(34px);
			@include background-clip(padding-box); 	
			cursor:pointer;
			@include box-shadow(inset 0 1px 1px #828282,0 1px 1px #ffffff);
			@include transition(all 1000ms);
			opacity: 1;
			z-index: 1;
			text-indent: -999em;
			&:hover{
				background: #1abc9c;
				@include box-shadow(inset 0 1px 2px #af2c19,0 1px 1px #ffffff);
			}
		}
		.std-slide-next{
			right:0;
			background:#fff;		
		}
		.std-slide-nav{
			margin: auto;
			position: relative;
			top: 550px;
			a{
				display:inline-block;
				width:18px;
				height:18px;
				@include border-radius(18px);
				text-indent: -9999em;
				margin: 0 4px;
				background: #b5b5b5;
				@include transition(all 1000ms);
				&:hover{
					background: #aaa;
				}
				&.current{
					background:#1abc9c;
				}
			}
		}
		div.btn-disabled{
			background:#eee;
			color:#ddd;
			filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);
			opacity:0.1;
			zoom:1;
		}
		div.loading{
			position:absolute; 
			top:0;
			left:0;
			right:0;
			bottom:0;
			background:#eee;
			text-align:center;
			line-height :400px;
			z-index:88;
		}
	}
//---------------------------------

// solution
//---------------------------------
	#solution{
		background: #fff;
		height: 800px;
		ul{
			display: table;
			width: 100%;
			li{
				display: table-cell;
				width: 33.3%;
				img{
					width: 300px;
					height: auto;
				}
			}
		}
	}
//---------------------------------

// use_cases
//---------------------------------
	#use_cases{
		height: 2300px; 
		background: #fff;
		.pic1,.pic2,.pic3,.pic4,.pic5{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			background-attachment: fixed;
		}
		.pic1{
			background: url(../img/blur1.png) no-repeat;
		}
		.pic2{
			background: url(../img/blur2.png) no-repeat;
		}
		.pic3{
			background: url(../img/blur2.png) no-repeat;
		}
		.pic4,.pic5{
			background: url(../img/blur4.png) no-repeat;
		}
		.usecase{
			position: relative;
			img{
				position: absolute;
			}
			&:first-of-type {
				height: 497px;
				top: 70px;
				img{
					right: 10px;
					top: 0;
					width: 507px;
					height: 410px;
				}
			}
			&:nth-of-type(2) {
				margin-top: 170px;
				height: 672px;
				img{
					left: 70px;
					top: 0;
					width: 304px;
					height: 595px;
				}
				h3{
					margin: 0;
					margin-left: 400px;
					padding-top: 200px;
					text-align: left;
					line-height: 1.2;
				}
			}
			&:nth-of-type(3) {
				margin-top: 150px;
				height: 597px;
				img{
					right: 10px;
					top: 0;
					width: 407px;
					height: 521px;
				}
			}
			h3{
				text-align: right;
				line-height: 1.2;
				margin-right: 550px;
				padding-top: 20px;
			}
		}
		.preview{
			width: 469px;
			height: 265px;
			position: absolute;
			background: rgba(0, 0, 0, 0.1);
			right: 29px;
			bottom: 211px;
			font-weight: 700;
			font-size: 22px;
			text-align: center;
			color: #fff;
			text-shadow:0 1px 1px #000;
			@include transition(background 0.4s linear);
			&:hover{
				background: rgba(0, 0, 0, 0.7);
			}
			&.sec{
				width: 256px;
				height: 382px;
				right: 628px;
				bottom: 181px;
			}
			&.third{
				width: 314px;
				height: 419px;
				right: 56px;
				bottom: 127px;
			}
			span{
				position: absolute;
				top: 130px;
				width: 110px;
				left: 50%;
				margin-left: -55px;
				height: 34px;
				@include border-radius(30px);
				@include background-clip(padding-box);
				background: rgba(0, 0, 0, 0.6);
				line-height: 33px;
				font-size: 18px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
				color: #fff;
				font-weight: 700;
				-webkit-user-select: none;
				@include transition(background 0.4s linear);
				text-indent: 0;
			}
		}
	}
//---------------------------------

// business
//---------------------------------
	#business{
		height: 1200px;
		background: #fff;
		position: relative;
		z-index: 102;
		.logo{
			span{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			.logo_business{
				background: url('../img/business_basket.png') no-repeat center 250px fixed;
				z-index: 2;
				background-attachment: fixed;
				background-position: 50% 327px;
			}
			.icon_fg{
				background: url('../img/business_icon_fg.png') no-repeat center 40px fixed;
				z-index: 1;
				background-attachment: fixed;
				background-position: 50% 88px;
			}
			.icon_bg{
				background: url('../img/business_icon_bg.png') no-repeat center 40px fixed;
				z-index: 1;
				background-attachment: fixed;
				background-position: 50% 49px;
			}
		}
		h3{
			font-size: 36px;
			position: fixed;
			top: 650px;
			width: 100%;
			z-index: 3;
			display: block;
			transform: translateY(67.375px);
		}
	}
//---------------------------------


// market
//---------------------------------
	#market{
		height: 1150px;
		text-align: center;
		z-index: 103;
		background-color: #fff;
		.micon{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
		.icon_bg{
			background: url('../img/icon1.png') 200px 380px no-repeat;
		}
		@for $i from 2 through 5 {			
			.icon_bg#{$i}{
				background: url('../img/icon#{$i}.png') no-repeat;
			}
		}
		.headline3{
			font-size: 30px;
			padding-top: 15px;
			margin-bottom: 50px;
		}
		.companies{
			.icons_building{ 
				display: inline-block;
				width: 600px;
				height: 198px;
				background: url('../img/build.png') no-repeat;
			}
			p{
				font-size: 30px;
				font-weight: 700;
				color: #00ace9;
				margin-top: 25px;
				line-height: 1;
				span{
					font-size: 24px;
					font-weight: 300;
				}
			}
		}
		.times{
			margin: 60px 0;
			span{
				width: 43px;
				height: 43px;
				background: url('../img/sprites.png') -254px 0 no-repeat;
				display: inline-block;
			}
		}
		.spent{
			display: inline-block;
			text-align: left;
			width: 700px;
			span{
				float: left;
				width: 159px;
				height: 156px;
				background: url('../img/sprites.png') -595px 0 no-repeat;
				margin-right: 40px;
			}
			p{
				font-weight: 700;
				font-size: 48px;
				& + p{
					font-size: 24px;
					font-weight: 400;
				}
			}

		}
		.equals{
			margin: 60px 0;
			span{
				width: 50px;
				height: 38px;
				background: url('../img/sprites.png') -297px 0 no-repeat;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.result{
			p {
				font-size: 60px;
				font-weight: 700;
				&:last-of-type {
					font-size: 24px;
					font-weight: 400;
				}
			}
		}
	}
//---------------------------------

// timeline
//---------------------------------
	#timeline{
		height: 2100px;
		background: #fff;
		z-index: 104;
		.blur_tweet{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-image: url('../img/timeline_blur_tweet.png');
			background-repeat: no-repeat;
		}
		.container {
			width: 630px;
			height: 1780px;
			margin-top: 40px;
			position: relative;
			text-align: center;
		}
		.event {
			display: inline-block;
			color: #1abc9c;
			font-weight: 700;
		}
		.year{
			background: #fff;
			@include box-shadow(inset 0 1px 1px rgba(255, 255, 255, 0.95),inset 0 0 8px rgba(0, 0, 0, 0.12),1px 0 0 rgba(0, 0, 0, 0.25),-1px 0 0 rgba(0, 0, 0, 0.25),0 1px 0 rgba(0, 0, 0, 0.2),0 -1px 0 rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.09));
			padding: 6px 12px;
			@include border-radius(10px);
			@include background-clip();
			font-weight: 700;
			text-shadow: 0 1px 1px #fff;
			position: relative;
			z-index: 1;
			&.last {
				top: 610px;
				left: 50%;
				margin-left: -32px;
			}
		}
		.line {
			width: 1px;
			height: 1250px;
			border-left: 1px solid #e14e3c;
			border-right: 1px solid #e14e3c;
			background: #e24531;
			display: inline-block;
			&.gray {
				background: #d7dce4;
				width: 3px;
				height: 1050px;
				border: none;
				position: absolute;
				top: 1300px;
				margin-left: -1px;
				left: 50%;
			}
		}
		.event_container {
			position: absolute;
			&.big .bullet {
				top: -38px;
			}
		}
		.date {
			position: relative;
			top: -14px;
			color: #9ea3ab;
			font-weight: 700;
			text-shadow: 0 1px 1px #fff;
			left: 5px;
			&.left {
				left: -5px;
			}
		}
		.bullet {
			width: 9px;
			height: 9px;
			@include border-radius(50%);
			@include background-clip;
			background: #e2432f;
			display: inline-block;
			position: relative;
			top: -11px;
			border: 3px solid #fff;
			margin-left: 5px;
			&.left {
				margin-left: 0;
				&+.tag {
					left: 5px;
					position: relative;
				}
			}
		}
		.tag {
			@include box-sizing;
			line-height: 0;
			height: 37px;
			border-width: 19px;
			min-width: 70px;
			&.right{
				@include border-image(url("../img/timeline_tag_right.png") 19 round);
				&.big {
					border-width: 14px 13px 14px 44px;
					@include border-image(url('../img/timeline_tag_right_big.png') 14 13 14 44 round);
				}
			}
			&.left{
				@include border-image(url("../img/timeline_tag_left.png") 19 round);
				&.big {
					@include border-image(url("../img/timeline_tag_left_big.png") 14 44 14 13 round);
				}
			}
			&.big {
				height: 91px;
				border-width: 14px 44px 14px 13px;
				line-height: 1.3;
				text-align: left;
				width: 300px;	
				span{
					top: -8px;
				}
			}
		}
		.event{
			display: inline-block;
			color: #565d66;
			font-weight: 700;
			&.right span {
				left: 3px;
			}
			span {
				display: inline-block;
				position: relative;
				background: #fff;
			}
		}
		.idea {
			position: absolute;
			top: 100px;
			right: 233px;
			.event {
				color: #1abc9c;
				text-shadow: 0 1px 1px #fff;
			}
		}
		.teaser {
			top: 220px;
			right: 267px;
			.event {
				color: #1abc9c;
				text-shadow: 0 1px 1px #fff;
			}
		}
		.tweet_left {
			top: 330px;
			right: 295px;
			min-width: 350px;
			.event{
				span {
					font-weight: 300;
					left: 3px;
				}
				&:after{
					width: 21px;
					height: 16px;
					position: absolute;
					content: "";
					background: url('../img/sprites.png') -88px 0 no-repeat;
					top: 37px;
					right: 54px;
				}
			}
		}
		.tweet_right {
			top: 450px;
			right: -12px;
			min-width: 350px;
			.event{
				span {
					font-weight: 300;
					left: 0;
					padding-left: 10px;
				}
				&:before{
					width: 21px;
					height: 16px;
					position: absolute;
					content: "";
					background: url('../img/sprites.png') -88px 0 no-repeat;
					top: 37px;
					z-index: 1;
					left: 57px;
				}
			}
			strong {
				display: inline-block;
				margin-bottom: 2px;
			}
		}
		.users {
			top: 720px;
			right: 205px;
			.event {
				color: #1abc9c;
				&:before {
					position: absolute;
					content: "";
					z-index: 1;
					width: 15px;
					height: 15px;
					background: url('../img/sprites.png') -15px 0 no-repeat;
					top: -9px;
					left: -2px;
				}
				span {
					padding-left: 20px;
				}
			}
		}
		.techstars {
			top: 830px;
			right: 277px;
			.event {
				color: #1abc9c;
			}
		}
		.users2 {
			top: 940px;
			right: 195px;
			.event {
				color: #1abc9c;
				&:before {
					position: absolute;
					content: "";
					z-index: 1;
					width: 15px;
					height: 15px;
					background: url('../img/sprites.png') -15px 0 no-repeat;
					top: -9px;
					left: -2px;
				}
				span {
					padding-left: 20px;
				}
			}
		}
		.private {
			top: 1050px;
			right: 308px;
			.event {
				color: #1abc9c;
				span{
					display: inline-block;
					position: relative;
					background: #fff;
				}
			}
		}
		.now {
			top: 1270px;
			margin-left: -28px;
			color: #1abc9c;
			left: 50%;
		}
		.pitch {
			top: 1160px;
			right: 146px;
		}
		.july {
			top: 1390px;
			right: 276px;
		}
		.public {
			top: 1500px;
			right: 307px;
		}
		.bay {
			top: 1620px;
			right: 200px;
		}
		.end {
			top: 1800px;
			right: 200px;
		}
		.store {
			top: 1900px;
			right: 270px;
		}
	}
//---------------------------------

// contact
//---------------------------------
	#contact {
		height: 480px;
		background-color: #fff;
		z-index: 105;
		.container {
			position: relative;
			text-align: center;
			padding-top: 50px;
			.stamp {
				position: absolute;
				left: 0;
				top: -90px;
				width: 124px;
				height: 140px;
				background: url('../img/sprites.png') -471px 0 no-repeat;
			}			
		}
		.circle {
			width: 64px;
			height: 64px;
			@include border-radius(50%);
			@include background-clip;
			background: #E0371E;
			display: inline-block;
			@include box-shadow(inset 0 1px 2px #af2c19);
			@include transition(all 0.2s linear);
			margin: 0 12px;
			text-align: center;
			span {
				background: url('../img/sprites.png') -174px 0 no-repeat;
				width: 40px;
				height: 40px;
				margin-top: 13px;
				display: inline-block;
			}
			&.twitter {
				background: #00ace9;
				@include box-shadow(inset 0 1px 2px #1e7da4);
				span{
					background: url('../img/sprites.png') -214px 0 no-repeat;
				}
			}
			&.angel {
				background: #07353d;
				@include box-shadow(inset 0 1px 2px #071215);
				span{
					background: url('../img/sprites.png') -134px 0 no-repeat;
				}
			}
		}
		.article{
			margin-top: 50px;
			font-size: 24px;
			p{
				text-shadow: 0 1px 1px #fff;
				margin-bottom: 15px;
			}
		}
	}
//---------------------------------


