@charset "utf-8";

//
// @description: 自定义按钮
// @author: http://s.kyp.com
// @tipe: 最后由卓文理编译整理，有问题请联系 QQ:531840344。
// @update: 2014.04
// @version:  v2.0
//


// 更多... 的按钮
// $size:按钮大小,$icon_size:按钮图标大小,$bg_color:默认背景颜色,$active_color:选中背景颜色
// <div class="btn_line_dot">
// 	<span></span><span class="active"></span><span></span><span></span>  //不能有
// </div>
//---------------------------------
@mixin btn_line_dot($size:80px,$icon_size:10px,$bg_color:#d2d2d2,$active_color:#f32e2b){  
	display: inline-block;
	@include centerWH($size);
	width: $size;
	span{
		display: inline-block;
		height: $icon_size;
		width: $icon_size;
		margin-right: $icon_size * 0.6;
		border-radius: $icon_size;
		background-color: $bg_color;
		&.active{
			background-color: $active_color;
		}
		&:last-child{
			margin-right:0;
		}
	}
}

// 购物车按钮（带价格）
//---------------------------------
@mixin btn_cart($color:#f43c39,$width:5.4em,$height: 2em){
	display: inline-block;
	border:1px solid $color;
	color: $color;
	border-radius: $height;
	min-width: $width;
	padding: 0 0.2em;
	@include centerWH($height); 
	font-size: 12px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	@include min-screen(480px){
		font-size: 18px;
	}
	@include min-screen(640px){
		font-size: 24px;
	}
	.iconfont{
		font-size: 1.22em; 
	}
	&:hover{
		background-color: #e04241;
		color: #fff;
	}
} 

// 加入购物车提交按钮
//---------------------------------
@mixin sub_cart($color: #f32e2b,$height:2.0em){
	display: inline-block;
	border:0;
	border-radius: $height / 0.8;
	@include centerWH($height / 0.8);
	background-color: $color;
	color: #fff;
	font-size: 0.8em;
}

// 折
//---------------------------------
@mixin icon_sale($fangxiang:before,$biaoqian:h3,$size:1.3em){  
	#{$biaoqian}:#{$fangxiang}{
		content: "折";
		@include centerWH($size);
		width: $size;
		display: inline-block;
		margin-right: 0.3em;
		color: #fff;
		background-color: #f32e2b;
		vertical-align: top;
	}
}
// 减
//---------------------------------
@mixin icon_minus($fangxiang:before,$biaoqian:h3,$size:1.3em){  
	#{$biaoqian}:#{$fangxiang}{
		content: "减";
		@include centerWH($size);
		width: $size;
		display: inline-block;
		margin-right: 0.3em;
		color: #fff;
		background-color: #f32e2b;
		vertical-align: top;
	}
}

// 返回按钮
//---------------------------------
@mixin btn_back($height:2.2em){
	position: relative;
	z-index: 20;
	display: inline-block;
	@include centerWH($height);
	width: $height;
}