@charset "UTF-8";
/**
 * @author: 卓文理
 * @email : zhuowenligg@gmail.com
 */
/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0; }

/* 设置默认字体 */
body,
button, input, select, textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 12px/1 'Hiragino Sans GB', Tahoma, Helvetica, Arial,'\u5FAE\u8F6F\u96C5\u9ED1', "\5b8b\4f53", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */ }

h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */ }

h2 {
  font-size: 16px; }

h3 {
  font-size: 14px; }

h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

/* 将斜体扶正 */
code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace; }

/* 统一等宽字体 */
small {
  font-size: 12px; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
  list-style: none; }

/* 重置文本格式元素 */
a {
  text-decoration: none; }

abbr[title], acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help; }

q:before, q:after {
  content: ''; }

/* 重置表单元素 */
legend {
  color: #000; }

/* for ie6 */
fieldset, img {
  border: none; }

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */ }

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置 hr */
hr {
  border: none;
  height: 1px; }

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll; }

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both; }

.clearfix {
  *zoom: 1; }

/*IE/7/6*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

html {
  height: 100%; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f2f2f2; }

.demo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  -webkit-transform: translateX(-250px) translateY(-200px);
  transform: translateX(-250px) translateY(-200px);
  overflow: hidden;
  background: #fff; }
  .demo span {
    display: inline-block; }

@-webkit-keyframes rotationY {
  0% {
    -webkit-transform: rotateY(0); }
  50% {
    -webkit-transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(360deg); } }
@keyframes rotationY {
  0% {
    transform: rotateY(0); }
  50% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(360deg); } }
@-webkit-keyframes rotationZ {
  0% {
    -webkit-transform: rotateZ(0); }
  50% {
    -webkit-transform: rotateZ(180deg); }
  100% {
    -webkit-transform: rotateZ(360deg); } }
@keyframes rotationZ {
  0% {
    transform: rotateZ(0); }
  50% {
    transform: rotateZ(180deg); }
  100% {
    transform: rotateZ(360deg); } }
@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateY(-60px) translateX(0); }
  30% {
    -webkit-transform: translateY(-60px) translateX(400px);
    opacity: 1; }
  31% {
    opacity: 0; }
  34% {
    opacity: 0;
    -webkit-transform: translateY(-60px) translateX(-400px); }
  35% {
    opacity: 1;
    -webkit-transform: translateY(-60px) translateX(-400px); }
  100% {
    -webkit-transform: translateY(-60px) translateX(0); } }
@keyframes fly {
  0% {
    transform: translateY(-60px) translateX(0); }
  30% {
    transform: translateY(-60px) translateX(400px);
    opacity: 1; }
  31% {
    opacity: 0; }
  34% {
    opacity: 0;
    transform: translateY(-60px) translateX(-400px); }
  35% {
    opacity: 1;
    transform: translateY(-60px) translateX(-400px); }
  100% {
    transform: translateY(-60px) translateX(0); } }
@-webkit-keyframes rotationBody {
  0% {
    -webkit-transform: none; }
  80% {
    -webkit-transform: rotate(2deg) translateY(3px); }
  100% {
    -webkit-transform: none; } }
@keyframes rotationBody {
  0% {
    transform: none; }
  80% {
    transform: rotate(2deg) translateY(3px); }
  100% {
    transform: none; } }
.helicopters .helicopter {
  position: absolute;
  bottom: 191px;
  left: 175px;
  width: 194px;
  height: 71px;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out; }
  .helicopters .helicopter .body {
    position: absolute;
    width: 194px;
    height: 71px;
    background: transparent url("../img/body.png") left top no-repeat;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    z-index: 80; }
  .helicopters .helicopter .propeller {
    position: absolute;
    display: inline-block;
    left: 108px;
    top: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .helicopters .helicopter .propeller .pillar {
      width: 7px;
      height: 10px;
      background: #464857; }
    .helicopters .helicopter .propeller .bar {
      position: absolute;
      left: 50%;
      top: 2px;
      width: 170px;
      height: 3px;
      margin-left: -85px;
      background: #464857; }
      .helicopters .helicopter .propeller .bar:before, .helicopters .helicopter .propeller .bar:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 11px;
        height: 3px;
        background: #ffb40c; }
      .helicopters .helicopter .propeller .bar:after {
        right: 0;
        left: auto; }
  .helicopters .helicopter .spoiler {
    position: absolute;
    display: inline-block;
    top: 21px;
    left: 17px;
    width: 9px;
    height: 9px; }
    .helicopters .helicopter .spoiler .pillar {
      position: relative;
      width: 10px;
      height: 10px;
      background: #bf3616;
      border-radius: 10px; }
      .helicopters .helicopter .spoiler .pillar:before {
        position: absolute;
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        top: 2px;
        left: 2px;
        background: #ffb50c;
        border-radius: 6px;
        z-index: 100; }
    .helicopters .helicopter .spoiler .bar {
      position: absolute;
      left: 50%;
      top: 4px;
      width: 28px;
      height: 3px;
      margin-left: -14px;
      background: #464857; }
      .helicopters .helicopter .spoiler .bar:before, .helicopters .helicopter .spoiler .bar:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 2px;
        height: 3px;
        background: #ffb40c; }
      .helicopters .helicopter .spoiler .bar:after {
        left: 26px; }
  .helicopters .helicopter .foot {
    position: absolute;
    left: 85px;
    bottom: 1px;
    width: 75px;
    height: 3px;
    background: #484757;
    z-index: 10; }
    .helicopters .helicopter .foot:before, .helicopters .helicopter .foot:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 3px;
      height: 7px;
      left: 8px;
      top: -7px;
      background: #484757; }
    .helicopters .helicopter .foot:after {
      left: 45px; }
.helicopters .house {
  width: 100%;
  height: 100%;
  background: transparent url("../img/hospital.png") center bottom no-repeat; }
.helicopters.action .helicopter .spoiler .bar {
  -webkit-animation: rotationZ 1s linear infinite;
  animation: rotationZ 1s linear infinite; }
.helicopters.active .helicopter .propeller .bar {
  -webkit-animation: rotationY 1s linear infinite;
  animation: rotationY 1s linear infinite; }
.helicopters.active .helicopter .spoiler .bar {
  -webkit-animation: rotationZ 1s linear infinite;
  animation: rotationZ 1s linear infinite; }
.helicopters.one .helicopter .propeller .bar {
  -webkit-animation: rotationY 0.8s linear infinite;
  animation: rotationY 0.8s linear infinite; }
.helicopters.one .helicopter .spoiler .bar {
  -webkit-animation: rotationZ 0.6s linear infinite;
  animation: rotationZ 0.6s linear infinite; }
.helicopters.one .helicopter .body {
  -webkit-animation: rotationBody 2s linear;
  animation: rotationBody 2s linear; }
.helicopters.two .helicopter .propeller .bar {
  -webkit-animation: rotationY 0.4s linear infinite;
  animation: rotationY 0.4s linear infinite; }
.helicopters.two .helicopter .spoiler .bar {
  -webkit-animation: rotationZ 0.2s linear infinite;
  animation: rotationZ 0.2s linear infinite; }
.helicopters.three .helicopter {
  -webkit-transform: translateY(-60px) rotate(-5deg);
  transform: translateY(-60px) rotate(-5deg); }
  .helicopters.three .helicopter .propeller .bar {
    -webkit-animation: rotationY 0.4s linear infinite;
    animation: rotationY 0.4s linear infinite; }
  .helicopters.three .helicopter .spoiler .bar {
    -webkit-animation: rotationZ 0.2s linear infinite;
    animation: rotationZ 0.2s linear infinite; }
.helicopters.four .helicopter {
  -webkit-transform: translateY(-60px) rotate(-5deg);
  transform: translateY(-60px) rotate(-5deg); }
  .helicopters.four .helicopter .propeller .bar {
    -webkit-animation: rotationY 0.4s linear infinite;
    animation: rotationY 0.4s linear infinite; }
  .helicopters.four .helicopter .spoiler .bar {
    -webkit-animation: rotationZ 0.2s linear infinite;
    animation: rotationZ 0.2s linear infinite; }
.helicopters.five .helicopter {
  -webkit-transform: translateY(-60px) rotate(0);
  transform: translateY(-60px) rotate(0); }
  .helicopters.five .helicopter .propeller .bar {
    -webkit-animation: rotationY 0.4s linear infinite;
    animation: rotationY 0.4s linear infinite; }
  .helicopters.five .helicopter .spoiler .bar {
    -webkit-animation: rotationZ 0.2s linear infinite;
    animation: rotationZ 0.2s linear infinite; }
.helicopters.six .helicopter {
  -webkit-transform: translateY(-60px) translateX(-10px);
  transform: translateY(-60px) translateX(-10px); }
  .helicopters.six .helicopter .propeller .bar {
    -webkit-animation: rotationY 0.4s linear infinite;
    animation: rotationY 0.4s linear infinite; }
  .helicopters.six .helicopter .spoiler .bar {
    -webkit-animation: rotationZ 0.2s linear infinite;
    animation: rotationZ 0.2s linear infinite; }
.helicopters.seven .helicopter {
  -webkit-animation: fly 5s ease-in-out infinite;
  animation: fly 5s ease-in-out infinite; }
  .helicopters.seven .helicopter .propeller .bar {
    -webkit-animation: rotationY 0.4s linear infinite;
    animation: rotationY 0.4s linear infinite; }
  .helicopters.seven .helicopter .spoiler .bar {
    -webkit-animation: rotationZ 0.2s linear infinite;
    animation: rotationZ 0.2s linear infinite; }
.helicopters.eight .helicopter {
  -webkit-animation: none;
  animation: none;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px); }
  .helicopters.eight .helicopter .propeller .bar {
    -webkit-animation: rotationY 0.4s linear infinite;
    animation: rotationY 0.4s linear infinite; }
  .helicopters.eight .helicopter .spoiler .bar {
    -webkit-animation: rotationZ 0.2s linear infinite;
    animation: rotationZ 0.2s linear infinite; }
.helicopters.nine .helicopter {
  -webkit-transform: translateY(0);
  transform: translateY(0); }
  .helicopters.nine .helicopter .propeller .bar {
    -webkit-animation: rotationY 0.4s linear infinite;
    animation: rotationY 0.4s linear infinite; }
  .helicopters.nine .helicopter .spoiler .bar {
    -webkit-animation: rotationZ 0.2s linear infinite;
    animation: rotationZ 0.2s linear infinite; }
.helicopters.ten .helicopter .propeller .bar {
  -webkit-animation: rotationY 0.8s linear infinite;
  animation: rotationY 0.8s linear infinite; }
.helicopters.ten .helicopter .spoiler .bar {
  -webkit-animation: rotationZ 0.6s linear infinite;
  animation: rotationZ 0.6s linear infinite; }
.helicopters.ten .helicopter .body {
  -webkit-animation: rotationBody 2s linear;
  animation: rotationBody 2s linear; }
.helicopters.end .helicopter .propeller .bar {
  -webkit-animation: rotationY 1s linear infinite;
  animation: rotationY 1s linear infinite; }
.helicopters.end .helicopter .spoiler .bar {
  -webkit-animation: rotationZ 1s linear infinite;
  animation: rotationZ 1s linear infinite; }
.helicopters.over .helicopter .spoiler .bar {
  -webkit-animation: rotationZ 1s linear infinite;
  animation: rotationZ 1s linear infinite; }
