/*
 * Author: 卓文理
 * Email: zhuowenligg@gmail.com
 * Date: 2020-05-03 14:51:58
 */

#content {
    width: 90%;
    max-width: $global-body-width;
    margin: $global-content-margin;
}

#primary {
    position: relative;
    z-index: 10;
    max-width: 850px;
    margin: $global-content-margin;
}

.is-home {
    overflow: hidden;
    max-width: 100%;
    #primary {
        text-align: center;
    }
    .post-title {
        margin: 1.5em 0 0.5em;
    }
    .post {
        margin-bottom: 4em;
    }
}

#comments {
    max-width: 850px;
    margin: $global-content-margin;
}

#gitalk-container {
    padding-top: 2em;
}

@include max-screen() {
    .site-header-inner, .content {
        width: 90%;
    }

    .is-home #primary {
        width: 100%;
    }
}
